/* =============================================================================
   Base
   ========================================================================== */

body { }



/* =============================================================================
   Header
   ========================================================================== */

#banner { }

/* Fixed Topbar Navigation */
body { padding-top: 60px; }
body.admin-bar .navbar-fixed-top { top: 28px; }



/* =============================================================================
   Content
   ========================================================================== */

#content { }



/* =============================================================================
   Primary Content
   ========================================================================== */

#main { }



/* =============================================================================
   Sidebar
   ========================================================================== */

#sidebar { }



/* =============================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry h2 a { text-decoration: none; }
.hentry time { display: block; }
.hentry p.byline { }
.hentry footer { clear: both; }



/* =============================================================================
   Post Comments
   ========================================================================== */

#comments, #respond, #submit { clear: both; display: block; }
ol.commentlist img.avatar { float: left; margin-right: 10px; }



/* =============================================================================
   Footer
   ========================================================================== */

#content-info {
  margin-top: 45px;
  padding: 35px 0 36px;
  border-top: 1px solid #e5e5e5;
}

#content-info p small { font-size: 13px; }



/* =============================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { margin: 0 20px 20px 0; float: left; }
.alignright { margin: 0 0 20px 20px; float: right; }



/* =============================================================================
   Media Queries
   ========================================================================== */

@media (max-width: 980px) {
  /* Fix top padding when using the responsive grid with the fixed topbar */
  body {
    padding-top: 0;
  }
}