.clearfix:before, .clearfix:after { content: "."; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

/* search engines blocked message to match .button-primary */
#privacy-on-link { 
	color: #fff !important; 
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
	background: #21759B url(../../../../../wp-admin/images/button-grad.png) repeat-x scroll left top; 
	padding: 3px 11px !important; 
	-moz-border-radius: 11px; 
	-webkit-border-radius: 11px; 
	border-radius: 11px; 
	border: 1px solid #298CBA; 
	font-weight: 700; 
	font-family: "Lucida Grande", Verdana, Arial, "Bitstream Vera Sans", sans-serif;
	margin-left: 6px;
	line-height: 13px !important;
} 
#privacy-on-link:hover { text-decoration: none !important; border: 1px solid #13455B; color: #EAF2FA !important; }

#editorcontainer #content {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 14px;
}