body {
    @include typo-base;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.whatsapp {
    background: svg-load('whatsapp.svg');
}

.container {
    @include container;
}
