/**
 * Variables
 */

$primary: #0074d9;
$secondary: #aa41e6;
$danger: #ff4136;

// Colors
$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "danger": $danger,
);
$custom-colors: (
  'periwinkle': #eaedf6,
  'dark-blue' : #263b77,
  'light-gray' : #f7f7f7
);
// Merge the maps
$theme-colors: map-merge($theme-colors, $custom-colors);

// Shadows
$shadow: 0 4px 8px rgba(0, 0, 0, 0.15);

// Gradients
$enable-gradients: true;
$gradient: linear-gradient(180deg, rgba(map-get($theme-colors, 'primary'), 0.15), rgba(map-get($theme-colors, 'secondary'), 0));

// Global Variables
$link-color: map-get($theme-colors, 'primary');
$link-hover-decoration: none;
$spacer: 1rem;
$border-radius: 0;

$transition-base: all 0.2s ease-in-out;

// Typography
$font-size-base: 1rem !default;

// Fonts
$font-family-sans-serif: helvetica, sans-serif;
$font-family-condensed: 'Roboto Condensed', sans-serif;
$font-family-base: $font-family-sans-serif;
$heading-font-family: 'Nunito', serif;

// Heading Sizes
$h1-font-size: $font-size-base * 3; //48px
$h2-font-size: $font-size-base * 1.25; //20px
$h3-font-size: $font-size-base * 1.5; //24px
$h4-font-size: $font-size-base * 2.25; //36px
$h5-font-size: $font-size-base * 1.125; //18px
$h6-font-size: $font-size-base * 1; //16px

// Headings Styles
$headings-margin-bottom: calc($spacer / 2) !default;
$headings-font-family: $font-family-base;
$headings-line-height: 1.8;

// Intro Copy - Leads
$lead-font-size: $font-size-base * 1.5; //24px
$lead-font-weight: 500;

//Input & Button
$input-btn-padding-y: $spacer * 0.8;
$input-btn-padding-x: 0.75rem !default;

// Button
$input-btn-font-family: $font-family-base;
$input-btn-font-size: $font-size-base;
$btn-border-width: 2px;
$btn-width: $spacer * 14;
$btn-font-weight: 600;
$btn-font-size: 1rem !important;
$btn-link-hover-color: map-get($theme-colors, 'grey-700');
$btn-border-radius: 0;
$btn-border-radius-sm: 0;
$btn-border-radius-lg: 0;

// Navigation
$hamburger-padding-x: 0;
$hamburger-padding-y: 0;
$hamburger-layer-width: $spacer * 1.5;
$hamburger-layer-height: $spacer * 0.175;
$hamburger-layer-spacing: $spacer * 0.25;
$hamburger-layer-color: map-get($theme-colors, 'primary');
$hamburger-types: (spin, arrow);