.wp-block-button {
  &.is-style-outline {
    .wp-block-button__link {
      @include button-size(
        $btn-padding-y,
        $btn-padding-x,
        $btn-font-size,
        $btn-line-height,
        $btn-border-radius
      );

      background: map-get($theme-colors, 'light');
      border-color: map-get($theme-colors, 'primary');
      border-style: solid;
      border-width: $btn-border-width;
      box-shadow: $btn-box-shadow;
      color: map-get($theme-colors, 'primary');
      font-family: $btn-font-family;
      transition: $btn-transition;

      &:hover,
      &:active,
      &:focus {
        background: map-get($theme-colors, 'primary');
        border-color: map-get($theme-colors, 'light');
        color: map-get($theme-colors, 'light');
        text-decoration: none;
      }

      &:active {
        box-shadow: $btn-active-box-shadow;
      }

      &:hover {
        transition: $btn-transition;
      }
    }
  }
}
