/* stylelint-disable selector-list-comma-newline-after */
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5 {
  margin: 0 0 0.2em;
  line-height: 1.2;
  font-weight: 700;
}
/* stylelint-enable */

h1,
.h1 {
  font-size: 3.2rem;
}

h2,
.h2 {
  font-size: 2.2rem;
}

h3,
.h3 {
  font-size: 1.6rem;
}

h4,
.h4 {
  font-size: 1.25rem;
}

h5,
.h5 {
  font-size: 1rem;
}
