/**
 * Block utilities
 **/
@import "wp-blocks/base/all";

.wp-blocks {
  /**
   * Base styles
   **/
  @import "wp-blocks/global/spacing";
  @import "wp-blocks/global/colors";
  @import "wp-blocks/global/typography";
  @import "wp-blocks/global/lists";
  @import "wp-blocks/global/preformatted";

  /**
   * Block-specific styles
   **/
  @import "wp-blocks/blocks/wp-block-audio";
  @import "wp-blocks/blocks/wp-block-button";
  @import "wp-blocks/blocks/wp-block-columns";
  @import "wp-blocks/blocks/wp-block-cover";
  @import "wp-blocks/blocks/wp-block-embed";
  @import "wp-blocks/blocks/wp-block-gallery";
  @import "wp-blocks/blocks/wp-block-image";
  @import "wp-blocks/blocks/wp-block-media";
  @import "wp-blocks/blocks/wp-block-separator";
  @import "wp-blocks/blocks/wp-block-quote";
  @import "wp-blocks/blocks/wp-block-table";
  @import "wp-blocks/blocks/wp-block-latest-posts";
}
