/**
 * WordPress Generated Classes
 * @link http://codex.wordpress.org/CSS#WordPress_Generated_Classes
 */

/** Media alignment */
.alignnone {
  margin-left: 0;
  margin-right: 0;
  max-width: 100%;
  height: auto;
}

.alignwide {
  margin-left: -($grid-gutter-width / 2);
  margin-right: -($grid-gutter-width / 2);
  max-width: none;

  @include media-breakpoint-up(sm) {
    margin-left: -$grid-gutter-width;
    margin-right: -$grid-gutter-width;
  }
}

.alignfull {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.aligncenter {
  display: block;
  margin: ($spacer / 2) auto;
  height: auto;
}

.alignleft,
.alignright {
  margin-bottom: ($spacer / 2);
  height: auto;
}

@include media-breakpoint-up(sm) {
  .alignleft {
    float: left;
    margin-right: ($spacer / 2);
  }

  .alignright {
    float: right;
    margin-left: ($spacer / 2);
  }
}

/** Captions */
.wp-block-image {
  @extend .figure;
}

.wp-block-image img {
  @extend .figure-img;
  @extend .img-fluid;
}

.wp-block-image figcaption {
  @extend .figure-caption;
}

/** Text meant only for screen readers */
.screen-reader-text {
  @extend .sr-only;
  @extend .sr-only-focusable;
}

/** Gutenberg image blocks */
.alignwide.wp-block-image img,
.alignfull.wp-block-image img {
  width: 100vw;
}
