/**
 * Has background applied
 */
@mixin hasBg {
  &[class*="has-"][class$="-background"] {
    @content;
  }
}

/**
 * Has color applied
 */
@mixin hasColor {
  &[class*="has-"][class$="-color"] {
    @content;
  }
}
