{
  "root": true,
  "extends": "airbnb",
  "globals": {
    "wp": true
  },
  "env": {
    "amd": true,
    "browser": true,
    "jquery": true,
    "node": true
  },
  "rules": {
    "react/require-extension": 0,
    "import/extensions": [1, { "js": "never" }]
  }
}
