{
  "root": true,
  "extends": "airbnb",
  "globals": {
    "wp": true,
    "picturefill": true,
    "Foundation": true,
    "fastdom": true
  },
  "env": {
    "amd": true,
    "browser": true,
    "jquery": true,
    "node": true
  },
  "rules": {
    "react/require-extension": 0,
    "import/extensions": [1, { "js": "never" }],
    "new-cap": ["error", {
      "newIsCap": true,
      "newIsCapExceptions": [],
      "capIsNew": false,
      "capIsNewExceptions": ["Immutable.Map", "Immutable.Set", "Immutable.List"],
      "properties": false
    }]
  }
}
