sudo: false
language: php
php:
  - 7.0
  - 5.6
  - 5.5
  - nightly

env:
  - TRAVIS_NODE_VERSION="4.2" CXX="g++-4.8"
  - TRAVIS_NODE_VERSION="5.3" CXX="g++-4.8"

matrix:
  fast_finish: true
  allow_failures:
    - php: nightly

addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - g++-4.8

cache:
  apt: true
  directories:
    - $HOME/.composer/cache
    - node_modules
    - vendor

before_install:
  - composer self-update

install:
  - source ~/.nvm/nvm.sh && nvm install $TRAVIS_NODE_VERSION
  - travis_retry npm install -g npm@latest
  - travis_retry npm install -g eslint
  - node -v && npm -v
  - npm rebuild
  - travis_retry npm install
  - composer install -o --prefer-dist --no-interaction

script:
  - npm run build
  - composer test
