.media-element {
    margin: 0;
    padding: 0;

    picture {
        display: block;
        width: 100%;
        height: 100%;
        background: var(--media-placeholder-color, grey);
    }

    img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
