/**
 * Buttons
 */

@each $color-name,
$color-value in $theme-colors {
  .btn-#{$color-name} {
    @include button-variant($color-value, $color-value);
  }

  .btn-outline-#{$color-name} {
    @include button-outline-variant($color-value);
  }
}
