/**
 * Editor
 */

@import 'config/variables';

@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

.editor-styles-wrapper > * {
  @import 'common/global';
  @import 'components';

  .wp-block,
  .wp-block .editor-post-title__input {
    font-family: $font-family-base;
    max-width: 1110px;
  }

  .editor-block-list__layout {
    .wp-block {
      padding-left: 43px;
      padding-right: 43px;
    }
  }
}
