.login {
  h1 a {
    background-image: url("../images/logo.svg");
    background-size: 120px 47px;
    width: 120px;
    height: 47px;
  }

  #nav,
  #backtoblog {
    margin: 20px 0;
    text-align: center;
  }
}
