@elusiveWebfontPath: '../fonts/';
@Elusive-iconfontVersion: 2;
@font-face {
	font-family: 'Elusive-Icons';
	src:url('@{elusiveWebfontPath}Elusive-Icons.eot?v=@{Elusive-iconfontVersion}');
	src:url('@{elusiveWebfontPath}Elusive-Icons.eot?#iefix&v=@{Elusive-iconfontVersion}') format('embedded-opentype'),
		url('@{elusiveWebfontPath}Elusive-Icons.svg#Elusive-Icons?v=@{Elusive-iconfontVersion}') format('svg'),
		url('@{elusiveWebfontPath}Elusive-Icons.woff?v=@{Elusive-iconfontVersion}') format('woff'),
		url('@{elusiveWebfontPath}Elusive-Icons.ttf?v=@{Elusive-iconfontVersion}') format('truetype');
	font-weight: normal;
	font-style: normal;
}

[class*="icon-"] {
	font-family: 'Elusive-Icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-zoom-out:before {
	content: "\e600";
}
.icon-zoom-in:before {
	content: "\e601";
}
.icon-youtube:before {
	content: "\e602";
}
.icon-wrench-alt:before {
	content: "\e603";
}
.icon-wrench:before {
	content: "\e604";
}
.icon-wordpress:before {
	content: "\e605";
}
.icon-wheelchair:before {
	content: "\e606";
}
.icon-website-alt:before {
	content: "\e607";
}
.icon-website:before {
	content: "\e608";
}
.icon-warning-sign:before {
	content: "\e609";
}
.icon-w3c:before {
	content: "\e60a";
}
.icon-volume-up:before {
	content: "\e60b";
}
.icon-volume-off:before {
	content: "\e60c";
}
.icon-volume-down:before {
	content: "\e60d";
}
.icon-vkontakte:before {
	content: "\e60e";
}
.icon-vimeo:before {
	content: "\e60f";
}
.icon-view-mode:before {
	content: "\e610";
}
.icon-video-chat:before {
	content: "\e611";
}
.icon-video-alt:before {
	content: "\e612";
}
.icon-video:before {
	content: "\e613";
}
.icon-viadeo:before {
	content: "\e614";
}
.icon-user:before {
	content: "\e615";
}
.icon-usd:before {
	content: "\e616";
}
.icon-upload:before {
	content: "\e617";
}
.icon-unlock-alt:before {
	content: "\e618";
}
.icon-unlock:before {
	content: "\e619";
}
.icon-universal-access:before {
	content: "\e61a";
}
.icon-twitter:before {
	content: "\e61b";
}
.icon-tumblr:before {
	content: "\e61c";
}
.icon-trash-alt:before {
	content: "\e61d";
}
.icon-trash:before {
	content: "\e61e";
}
.icon-torso:before {
	content: "\e61f";
}
.icon-tint:before {
	content: "\e620";
}
.icon-time-alt:before {
	content: "\e621";
}
.icon-time:before {
	content: "\e622";
}
.icon-thumbs-up:before {
	content: "\e623";
}
.icon-thumbs-down:before {
	content: "\e624";
}
.icon-th-list:before {
	content: "\e625";
}
.icon-th-large:before {
	content: "\e626";
}
.icon-th:before {
	content: "\e627";
}
.icon-text-width:before {
	content: "\e628";
}
.icon-text-height:before {
	content: "\e629";
}
.icon-tasks:before {
	content: "\e62a";
}
.icon-tags:before {
	content: "\e62b";
}
.icon-tag:before {
	content: "\e62c";
}
.icon-stumbleupon:before {
	content: "\e62d";
}
.icon-stop-alt:before {
	content: "\e62e";
}
.icon-stop:before {
	content: "\e62f";
}
.icon-step-forward:before {
	content: "\e630";
}
.icon-step-backward:before {
	content: "\e631";
}
.icon-star-empty:before {
	content: "\e632";
}
.icon-star-alt:before {
	content: "\e633";
}
.icon-star:before {
	content: "\e634";
}
.icon-stackoverflow:before {
	content: "\e635";
}
.icon-spotify:before {
	content: "\e636";
}
.icon-speaker:before {
	content: "\e637";
}
.icon-soundcloud:before {
	content: "\e638";
}
.icon-smiley-alt:before {
	content: "\e639";
}
.icon-smiley:before {
	content: "\e63a";
}
.icon-slideshare:before {
	content: "\e63b";
}
.icon-skype:before {
	content: "\e63c";
}
.icon-signal:before {
	content: "\e63d";
}
.icon-shopping-cart-sign:before {
	content: "\e63e";
}
.icon-shopping-cart:before {
	content: "\e63f";
}
.icon-share-alt:before {
	content: "\e640";
}
.icon-share:before {
	content: "\e641";
}
.icon-search-alt:before {
	content: "\e642";
}
.icon-search:before {
	content: "\e643";
}
.icon-screenshot:before {
	content: "\e644";
}
.icon-screen-alt:before {
	content: "\e645";
}
.icon-screen:before {
	content: "\e646";
}
.icon-scissors:before {
	content: "\e647";
}
.icon-rss:before {
	content: "\e648";
}
.icon-road:before {
	content: "\e649";
}
.icon-reverse-alt:before {
	content: "\e64a";
}
.icon-retweet:before {
	content: "\e64b";
}
.icon-return-key:before {
	content: "\e64c";
}
.icon-resize-vertical:before {
	content: "\e64d";
}
.icon-resize-small:before {
	content: "\e64e";
}
.icon-resize-horizontal:before {
	content: "\e64f";
}
.icon-resize-full:before {
	content: "\e650";
}
.icon-repeat-alt:before {
	content: "\e651";
}
.icon-repeat:before {
	content: "\e652";
}
.icon-remove-sign:before {
	content: "\e653";
}
.icon-remove-circle:before {
	content: "\e654";
}
.icon-remove:before {
	content: "\e655";
}
.icon-refresh:before {
	content: "\e656";
}
.icon-reddit:before {
	content: "\e657";
}
.icon-record:before {
	content: "\e658";
}
.icon-random:before {
	content: "\e659";
}
.icon-quotes-alt:before {
	content: "\e65a";
}
.icon-quotes:before {
	content: "\e65b";
}
.icon-question-sign:before {
	content: "\e65c";
}
.icon-question:before {
	content: "\e65d";
}
.icon-qrcode:before {
	content: "\e65e";
}
.icon-puzzle:before {
	content: "\e65f";
}
.icon-print:before {
	content: "\e660";
}
.icon-podcast:before {
	content: "\e661";
}
.icon-plus-sign:before {
	content: "\e662";
}
.icon-plus:before {
	content: "\e663";
}
.icon-play-circle:before {
	content: "\e664";
}
.icon-play-alt:before {
	content: "\e665";
}
.icon-play:before {
	content: "\e666";
}
.icon-plane:before {
	content: "\e667";
}
.icon-pinterest:before {
	content: "\e668";
}
.icon-picture:before {
	content: "\e669";
}
.icon-picasa:before {
	content: "\e66a";
}
.icon-photo-alt:before {
	content: "\e66b";
}
.icon-photo:before {
	content: "\e66c";
}
.icon-phone-alt:before {
	content: "\e66d";
}
.icon-phone:before,
.icon-earphone:before {
	content: "\e66e";
}
.icon-person:before {
	content: "\e66f";
}
.icon-pencil-alt:before {
	content: "\e670";
}
.icon-pencil:before {
	content: "\e671";
}
.icon-pause-alt:before {
	content: "\e672";
}
.icon-pause:before {
	content: "\e673";
}
.icon-path:before {
	content: "\e674";
}
.icon-paper-clip-alt:before,
.icon-paperclip-alt:before {
	content: "\e675";
}
.icon-paper-clip:before,
.icon-paperclip:before {
	content: "\e676";
}
.icon-opensource:before {
	content: "\e677";
}
.icon-ok-sign:before {
	content: "\e678";
}
.icon-ok-circle:before {
	content: "\e679";
}
.icon-ok:before {
	content: "\e67a";
}
.icon-off:before {
	content: "\e67b";
}
.icon-network:before {
	content: "\e67c";
}
.icon-myspace:before {
	content: "\e67d";
}
.icon-music:before {
	content: "\e67e";
}
.icon-move:before {
	content: "\e67f";
}
.icon-minus-sign:before {
	content: "\e680";
}
.icon-minus:before {
	content: "\e681";
}
.icon-mic-alt:before {
	content: "\e682";
}
.icon-mic:before {
	content: "\e683";
}
.icon-map-marker-alt:before {
	content: "\e684";
}
.icon-map-marker:before {
	content: "\e685";
}
.icon-male:before {
	content: "\e686";
}
.icon-magnet:before {
	content: "\e687";
}
.icon-magic:before {
	content: "\e688";
}
.icon-lock-alt:before {
	content: "\e689";
}
.icon-lock:before {
	content: "\e68a";
}
.icon-livejournal:before {
	content: "\e68b";
}
.icon-list-alt:before {
	content: "\e68c";
}
.icon-list:before {
	content: "\e68d";
}
.icon-linkedin:before {
	content: "\e68e";
}
.icon-link:before {
	content: "\e68f";
}
.icon-lines:before {
	content: "\e690";
}
.icon-leaf:before {
	content: "\e691";
}
.icon-lastfm:before {
	content: "\e692";
}
.icon-laptop-alt:before {
	content: "\e693";
}
.icon-laptop:before {
	content: "\e694";
}
.icon-key:before {
	content: "\e695";
}
.icon-italic:before {
	content: "\e696";
}
.icon-iphone-home:before {
	content: "\e697";
}
.icon-instagram:before {
	content: "\e698";
}
.icon-info-sign:before {
	content: "\e699";
}
.icon-indent-right:before {
	content: "\e69a";
}
.icon-indent-left:before {
	content: "\e69b";
}
.icon-inbox-box:before {
	content: "\e69c";
}
.icon-inbox-alt:before {
	content: "\e69d";
}
.icon-inbox:before {
	content: "\e69e";
}
.icon-idea-alt:before {
	content: "\e69f";
}
.icon-idea:before {
	content: "\e6a0";
}
.icon-hourglass:before {
	content: "\e6a1";
}
.icon-home-alt:before {
	content: "\e6a2";
}
.icon-home:before {
	content: "\e6a3";
}
.icon-heart-empty:before {
	content: "\e6a4";
}
.icon-heart-alt:before {
	content: "\e6a5";
}
.icon-heart:before {
	content: "\e6a6";
}
.icon-hearing-impaired:before {
	content: "\e6a7";
}
.icon-headphones:before {
	content: "\e6a8";
}
.icon-hdd:before {
	content: "\e6a9";
}
.icon-hand-up:before {
	content: "\e6aa";
}
.icon-hand-right:before {
	content: "\e6ab";
}
.icon-hand-left:before {
	content: "\e6ac";
}
.icon-hand-down:before {
	content: "\e6ad";
}
.icon-guidedog:before {
	content: "\e6ae";
}
.icon-group-alt:before {
	content: "\e6af";
}
.icon-group:before {
	content: "\e6b0";
}
.icon-graph-alt:before {
	content: "\e6b1";
}
.icon-graph:before {
	content: "\e6b2";
}
.icon-googleplus:before {
	content: "\e6b3";
}
.icon-globe-alt:before {
	content: "\e6b4";
}
.icon-globe:before {
	content: "\e6b5";
}
.icon-glasses:before {
	content: "\e6b6";
}
.icon-glass:before {
	content: "\e6b7";
}
.icon-github-text:before {
	content: "\e6b8";
}
.icon-github:before {
	content: "\e6b9";
}
.icon-gift:before {
	content: "\e6ba";
}
.icon-gbp:before {
	content: "\e6bb";
}
.icon-fullscreen:before {
	content: "\e6bc";
}
.icon-friendfeed-rect:before {
	content: "\e6bd";
}
.icon-friendfeed:before {
	content: "\e6be";
}
.icon-foursquare:before {
	content: "\e6bf";
}
.icon-forward-alt:before {
	content: "\e6c0";
}
.icon-forward:before {
	content: "\e6c1";
}
.icon-fork:before {
	content: "\e6c2";
}
.icon-fontsize:before {
	content: "\e6c3";
}
.icon-font:before {
	content: "\e6c4";
}
.icon-folder-sign:before {
	content: "\e6c5";
}
.icon-folder-open:before {
	content: "\e6c6";
}
.icon-folder-close:before {
	content: "\e6c7";
}
.icon-folder:before {
	content: "\e6c8";
}
.icon-flickr:before {
	content: "\e6c9";
}
.icon-flag-alt:before {
	content: "\e6ca";
}
.icon-flag:before {
	content: "\e6cb";
}
.icon-fire:before {
	content: "\e6cc";
}
.icon-filter:before {
	content: "\e6cd";
}
.icon-film:before {
	content: "\e6ce";
}
.icon-file-new-alt:before {
	content: "\e6cf";
}
.icon-file-new:before {
	content: "\e6d0";
}
.icon-file-edit-alt:before {
	content: "\e6d1";
}
.icon-file-edit:before {
	content: "\e6d2";
}
.icon-file-alt:before {
	content: "\e6d3";
}
.icon-file:before {
	content: "\e6d4";
}
.icon-female:before {
	content: "\e6d5";
}
.icon-fast-forward:before {
	content: "\e6d6";
}
.icon-fast-backward:before {
	content: "\e6d7";
}
.icon-facetime-video:before {
	content: "\e6d8";
}
.icon-facebook:before {
	content: "\e6d9";
}
.icon-eye-open:before {
	content: "\e6da";
}
.icon-eye-close:before {
	content: "\e6db";
}
.icon-exclamation-sign:before {
	content: "\e6dc";
}
.icon-eur:before {
	content: "\e6dd";
}
.icon-error-alt:before {
	content: "\e6de";
}
.icon-error:before {
	content: "\e6df";
}
.icon-envelope-alt:before {
	content: "\e6e0";
}
.icon-envelope:before {
	content: "\e6e1";
}
.icon-eject:before {
	content: "\e6e2";
}
.icon-edit:before {
	content: "\e6e3";
}
.icon-dribbble:before {
	content: "\e6e4";
}
.icon-download-alt:before {
	content: "\e6e5";
}
.icon-download:before {
	content: "\e6e6";
}
.icon-digg:before {
	content: "\e6e7";
}
.icon-deviantart:before {
	content: "\e6e8";
}
.icon-delicious:before {
	content: "\e6e9";
}
.icon-dashboard:before {
	content: "\e6ea";
}
.icon-css:before {
	content: "\e6eb";
}
.icon-credit-card:before {
	content: "\e6ec";
}
.icon-compass-alt:before {
	content: "\e6ed";
}
.icon-compass:before {
	content: "\e6ee";
}
.icon-comment-alt:before {
	content: "\e6ef";
}
.icon-comment:before {
	content: "\e6f0";
}
.icon-cogs:before {
	content: "\e6f1";
}
.icon-cog-alt:before {
	content: "\e6f2";
}
.icon-cog:before {
	content: "\e6f3";
}
.icon-cloud-alt:before {
	content: "\e6f4";
}
.icon-cloud:before {
	content: "\e6f5";
}
.icon-circle-arrow-up:before {
	content: "\e6f6";
}
.icon-circle-arrow-right:before {
	content: "\e6f7";
}
.icon-circle-arrow-left:before {
	content: "\e6f8";
}
.icon-circle-arrow-down:before {
	content: "\e6f9";
}
.icon-child:before {
	content: "\e6fa";
}
.icon-chevron-up:before {
	content: "\e6fb";
}
.icon-chevron-right:before {
	content: "\e6fc";
}
.icon-chevron-left:before {
	content: "\e6fd";
}
.icon-chevron-down:before {
	content: "\e6fe";
}
.icon-check-empty:before,
.icon-unchecked:before {
	content: "\e6ff";
}
.icon-check:before {
	content: "\e700";
}
.icon-certificate:before {
	content: "\e701";
}
.icon-cc:before {
	content: "\e702";
}
.icon-caret-up:before {
	content: "\e703";
}
.icon-caret-right:before {
	content: "\e704";
}
.icon-caret-left:before {
	content: "\e705";
}
.icon-caret-down:before {
	content: "\e706";
}
.icon-car:before {
	content: "\e707";
}
.icon-camera:before {
	content: "\e708";
}
.icon-calendar-sign:before {
	content: "\e709";
}
.icon-calendar:before {
	content: "\e70a";
}
.icon-bullhorn:before {
	content: "\e70b";
}
.icon-bulb:before {
	content: "\e70c";
}
.icon-brush:before {
	content: "\e70d";
}
.icon-broom:before {
	content: "\e70e";
}
.icon-briefcase:before {
	content: "\e70f";
}
.icon-braille:before {
	content: "\e710";
}
.icon-bookmark-empty:before {
	content: "\e711";
}
.icon-bookmark:before {
	content: "\e712";
}
.icon-book:before {
	content: "\e713";
}
.icon-bold:before {
	content: "\e714";
}
.icon-blogger:before {
	content: "\e715";
}
.icon-blind:before {
	content: "\e716";
}
.icon-bell:before {
	content: "\e717";
}
.icon-behance:before {
	content: "\e718";
}
.icon-barcode:before {
	content: "\e719";
}
.icon-ban-circle:before {
	content: "\e71a";
}
.icon-backward:before {
	content: "\e71b";
}
.icon-asl:before {
	content: "\e71c";
}
.icon-arrow-up:before {
	content: "\e71d";
}
.icon-arrow-right:before {
	content: "\e71e";
}
.icon-arrow-left:before {
	content: "\e71f";
}
.icon-arrow-down:before {
	content: "\e720";
}
.icon-align-right:before {
	content: "\e721";
}
.icon-align-left:before {
	content: "\e722";
}
.icon-align-justify:before {
	content: "\e723";
}
.icon-align-center:before {
	content: "\e724";
}
.icon-adult:before {
	content: "\e725";
}
.icon-adjust-alt:before {
	content: "\e726";
}
.icon-adjust:before {
	content: "\e727";
}
.icon-address-book-alt:before {
	content: "\e728";
}
.icon-address-book:before {
	content: "\e729";
}
.icon-asterisk:before {
	content: "\e72a";
}