@sidebar-font-size: 12px;

.sidebar .menu {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
  font-size: @sidebar-font-size;

    li {
     list-style: none;
    
    &.active a & {
      color: @list-group-link-color;
  
      .list-group-item-heading {
        color: @list-group-link-heading-color;
      }
  
      // Hover state
      &:hover,
      &:focus {
        text-decoration: none;
        background-color: @list-group-hover-bg;
      }
    }
  
    // Active class on item itself, not parent
    &.active > a,
    &.active > a:hover,
    &.active > a:focus {
      z-index: 2; // Place active items above their siblings for proper border styling
      color: @list-group-active-color;
      background-color: @list-group-active-bg;
      border-color: @list-group-active-border;
  
      // Force color to inherit for custom content
      .list-group-item-heading {
        color: inherit;
      }
      .list-group-item-text {
        color: lighten(@list-group-active-bg, 40%);
      }
    }  
  
  }
  
	// Round the first and last items
  li:first-child a {
    .border-top-radius(@list-group-border-radius);
  }
  li:last-child > a {
    margin-bottom: 0;
    .border-bottom-radius(@list-group-border-radius);
  }
  

    a {
    color: #555;
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: @list-group-bg;
    border: 1px solid @list-group-border;
    text-decoration: none;
    
    }

    .dropdown-menu {
      padding: 0;
      margin: 0;
      border: 0;
      font-size: @sidebar-font-size;
    }
    .open>.dropdown-menu {
      left: 100%;
      top: 100%;
      margin-top: -41px;
    }
    
    .caret {
			transform:rotate(-90deg);
			-ms-transform:rotate(-90deg); /* IE 9 */
			-webkit-transform:rotate(-90deg); /* Safari and Chrome */
    }
    
}

   #sidebar-footer{
    .panel {
	    @media (max-width: @screen-sm) {
		    width: 85%;
		    margin: 15px auto;
	    }
			}
    }
    
  ul.footer li::before {
    @media (max-width: @screen-sm) {
	    content: ""!important;
			margin: 0;
			}
    }
    
    #menu-footer {
    @media (max-width: @screen-sm) {
	    width: 100%;
	    margin-left: -15%;
	    }
    }
    
    .social-menu-wrap {
    @media (max-width: @screen-sm) {
    	display: block;
	    width: 100%;
	    margin-right: -15%;
	    position: relative;
	    text-align: center;
	    margin: 0 auto;
	    top: 0;
	    left: 0;
	    float: none!important;
	    ul {
		    margin-left: 0;
		    padding-left: 0;
	    }
			}
	    
    }
