@import "variables.less"; // Modify this for custom colors, font-sizes, etc
@import "mixins.less";

@import "atkore-variables.less";
@import "atkore-effects.less";
@import "atkore-forms.less";
@import "atkore-type.less";
@import "atkore-products.less";
@import "atkore-resources.less";
@import "atkore-lang.less";
@import "atkore-navbar.less";
@import "atkore-page-header.less";
@import "atkore-panels.less";
@import "atkore-tabs.less";
@import "atkore-tables.less";
@import "atkore-sidebar.less";
@import "atkore-footer.less";
@import "atkore-home.less";
@import "atkore-images.less";
@import "atkore-carousel.less";
@import "atkore-rep-locator.less";
@import "atkore-responsive.less";
@import "atkore-select.less";
@import "atkore-calendar.less";

/* I've added the domain to the body class (in wordpress) so, you can use selectors like "[class*="atkore"]" or "[class*="atcfence"]" or "[class*="easternwire"]" */
@brand-primary:         rgba(14,92,167,1);  // Blue
@brand-secondary:       rgba(0,0,0, 1);          
@brand-tertiary:        rgba(239,86,79,1);


@media (min-width: @screen-sm) {

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg) {

}