@carousel-height: 450px;
@carousel-width: 100%;

.carousel ul li {
  list-style: none;
}

.positioning-absolute {
  position: absolute;
  margin: 0 auto;
  padding: 0;
  width: @carousel-width;
  height: @carousel-height;
  top: 0;
  left: 0;
}

.positioning-relative {
  position: relative;
  margin: 0 auto;
  padding: 0;
  width: @carousel-width;
  height: @carousel-height;
}


#carousel-wrap {
  .positioning-absolute;
  z-index: 0;
}

#carousel-home {
  .positioning-absolute;
  overflow: hidden;
}

.carousel-fade {
  .carousel-inner {
    .item {
      opacity: 0;
      -webkit-transition-property: opacity;
      -moz-transition-property: opacity;
      -o-transition-property: opacity;
      transition-property: opacity;
      height: (@carousel-height - 30px);
    }

    .active {
      opacity: 1;
    }

    .active.left,
    .active.right {
      left: 0;
      opacity: 0;
      z-index: 1;
    }

    .next.left,
    .prev.right {
      opacity: 1;
    }
  }

  .carousel-control {
    z-index: 2;
  }
}


  
  #carousel-home .item img {
          position: absolute;
          right: 0;
          max-width: none;
          bottom: 0;
  }

  #carousel-home .item:nth-child(1) .carousel-caption {
          
  }
  
  body[class*="kaf-tech"] #carousel-home .item:nth-child(2) .carousel-caption {
		width: 45%;
  }
  
  body[class*="kaf-tech"] #carousel-home .item:nth-child(3) .carousel-caption {
		width: 35%;
  }
  
  body[class*="kaf-tech"] #carousel-home .item:nth-child(1) img {
		 max-width: 75%;
	}
	
	body[class*="kaf-tech"] #carousel-home .item:nth-child(3) img {
		 max-width: 65%;
	}


#carousel-home .carousel-caption {
  bottom: 0;
  text-align: left;
  width: 50%;
}

#carousel-home .carousel-control {
    padding-top: 230px;
  }


#carousel-home .item:nth-child(1) img {

  }
  
  
  
#carousel-home .item:nth-child(2) img {

}



#carousel-home .carousel-caption.plain {
  padding: 0;
  color: #fff;
  background-color: transparent;
  -moz-box-shadow:0 0 0;
  -webkit-box-shadow:0 0 0;
  box-shadow: 0 0 0;
}


#carousel-home .carousel-caption h1 {
  font-size: 18px;
  margin: 0 auto 20px auto;
}

#carousel-home .carousel-caption.plain h1,
#carousel-home .carousel-caption.plain p {
  background-color: rgba(0,0,0,0.4);
  padding: 10px;
}


#carousel-home .carousel-caption p {
  margin: 0 auto 20px auto;
}


#carousel-home .carousel-caption .btn {

}

.bottom-bar {
  border-top: 1px solid rgba(255,255,255,0.5);
  border-bottom: 1px solid #999;
  height: 30px;
  background-color:@brand-primary;
  background-image: -moz-radial-gradient(50% 50%, circle cover, @brand-primary, @brand-secondary 50%);
  background-image: -webkit-radial-gradient(50% 50%, circle cover, @brand-primary, @brand-secondary 50%);
  background-image: -o-radial-gradient(50% 50%, circle cover, @brand-primary, @brand-secondary 50%);
  background-image: -ms-radial-gradient(50% 50%, circle cover, @brand-primary, @brand-secondary 50%);
  background-image: radial-gradient(50% 50%, circle cover, @brand-primary, @brand-secondary 50%);
  position: absolute;
  top: (@carousel-height - 30px);
  width:@carousel-width;
  display: block;
	-moz-box-shadow:inset 0px 0px 20px rgba(0,0,0,0.5);
	-webkit-box-shadow:inset 0px 0px 20px rgba(0,0,0,0.5);
	box-shadow:inset 0px 0px 20px rgba(0,0,0,0.5);
	opacity: 1!important;
}




// BRANDS FOOTER CAROUSEL 

@brands-carousel-height-lg: 120px;
@brands-carousel-height-md: 120px;
@brands-carousel-height-sm: 120px;
@brands-carousel-height-xs: auto;

@margin-top-brand-logo-xs: 45%;
@margin-top-brand-logo-sm: 35%;
@margin-top-brand-logo-md: 25%;
@margin-top-brand-logo-lg: 15%;


#carousel-brands .carousel-inner {
-webkit-box-shadow: inset 0px 10px 20px -10px rgba(0, 0, 0, 0.35);
-moz-box-shadow:    inset 0px 10px 20px -10px rgba(0, 0, 0, 0.35);
box-shadow:         inset 0px 10px 20px -10px rgba(0, 0, 0, 0.35);
border-top: 1px solid #999;
overflow-x: hidden;
overflow-y: hidden!important;
}

#carousel-brands .carousel-inner::before {
background-color: #ffffff;
background-image: -webkit-gradient(linear, left center, right center, from(rgba(255, 255, 255, 1.00)), to(rgba(255, 255, 255, 0.00)));
background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 1.00), rgba(255, 255, 255, 0.00));
background-image: -moz-linear-gradient(left, rgba(255, 255, 255, 1.00), rgba(255, 255, 255, 0.00));
background-image: -o-linear-gradient(left, rgba(255, 255, 255, 1.00), rgba(255, 255, 255, 0.00));
background-image: -ms-linear-gradient(left, rgba(255, 255, 255, 1.00), rgba(255, 255, 255, 0.00));
background-image: linear-gradient(left, rgba(255, 255, 255, 1.00), rgba(255, 255, 255, 0.00));
filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1,StartColorStr='#ffffff', EndColorStr='#ffffff');
width: 75px;
display: block;
position: absolute;
top: 0;
left: 0;
height: 100%;
z-index: 200;
border: 5px solid #000;
z-index: 6000;
}

#carousel-brands .carousel-inner::after {
background-color: #ffffff;
background-image: -webkit-gradient(linear, left center, right center, from(rgba(255, 255, 255, 1.00)), to(rgba(255, 255, 255, 0.00)));
background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 1.00), rgba(255, 255, 255, 0.00));
background-image: -moz-linear-gradient(left, rgba(255, 255, 255, 1.00), rgba(255, 255, 255, 0.00));
background-image: -o-linear-gradient(left, rgba(255, 255, 255, 1.00), rgba(255, 255, 255, 0.00));
background-image: -ms-linear-gradient(left, rgba(255, 255, 255, 1.00), rgba(255, 255, 255, 0.00));
background-image: linear-gradient(left, rgba(255, 255, 255, 1.00), rgba(255, 255, 255, 0.00));
filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1,StartColorStr='#ffffff', EndColorStr='#ffffff');
width: 75px;
display: block;
position: absolute;
top: 0;
right: 0;
height: 100%;
z-index: 6000;
}


#brands-footer .carousel-control {
  background: url('//assets.atkore.com/img/arrow-right-circle.png') center center no-repeat transparent;
}

#brands-footer .carousel-control.left {
          -moz-transform: scaleX(-1);
          -o-transform: scaleX(-1);
          -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
          filter: FlipH;
          -ms-filter: "FlipH";
}

#brands-footer .carousel-control.right {
  background: url('//assets.atkore.com/img/arrow-right-circle.png') center center no-repeat transparent!important;
}

.carousel-control-wrapper span {

}

.carousel-control-wrapper .left span {

}

.carousel-control-wrapper .right span {

}

#carousel-brands ul li,
#carousel-brands ul li img {
  margin: auto; 
}

#carousel-brands ul,
#carousel-brands ul li,
#carousel-brands ul li a {
    vertical-align: middle;
    text-align: center;
    margin: auto;
  }

  #carousel-brands ul {
    margin: 0!important;
    padding: 0!important;
  }

  #carousel-brands ul li {

  }

  .brand-logo-wrap {
    width: 60%;
  }

  li[class^=brand-] .brand-logo-wrap {
    margin-top: 0;
  }

  .brand-unistrut-construction .brand-logo-wrap,
  .brand-unistrut .brand-logo-wrap,
  .brand-columbia-mbf .brand-logo-wrap,
  .brand-power-strut .brand-logo-wrap,
  .brand-razor-ribbon .brand-logo-wrap,
  .brand-kaf-tech .brand-logo-wrap,
  .brand-tectron-tube .brand-logo-wrap,
  .brand-sprinkflex .brand-logo-wrap {
    margin: 20px auto;
  }

  .brand-flexhead-industries .brand-logo-wrap,
  .brand-cope .brand-logo-wrap,
  .brand-eastern-wire-conduit .brand-logo-wrap,
  .brand-allied-tube-conduit .brand-logo-wrap {
    margin: 15px auto;
  }

  .brand-acsuni-fab .brand-logo-wrap,
  .brand-acroba .brand-logo-wrap,
  .brand-atkore-international .brand-logo-wrap,
  .brand-afc-cable-systems .brand-logo-wrap {
    margin: 10px auto;
  }

  #carousel-brands ul li a img {
    margin: auto;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: url('../assets/svg/desaturate.svg#greyscale');
  filter: gray;
  -webkit-filter: grayscale(1);
  }
  
  #carousel-brands ul li a:hover img {
  filter: none;
  -webkit-filter: none;
  -moz-filter: none;
  -ms-filter: none;
  -o-filter: none;
  filter: none;
  filter: none;
  -webkit-filter: none;
  }
  

  


@media (min-width: @screen-sm) {
  #carousel-brands .item,
  #carousel-brands ul,
  #carousel-brands ul li,
  #carousel-brands ul li a {
    max-height: @brands-carousel-height-sm;
    height: @brands-carousel-height-sm;
    vertical-align: middle;
  }
  
  .brand-logo-wrap {
    max-height: @brands-carousel-height-sm;
    height: @brands-carousel-height-sm;
    margin: 0 auto;
		width: 65%;
  }
  
  .brand-unistrut-construction .brand-logo-wrap,
  .brand-unistrut .brand-logo-wrap,
  .brand-columbia-mbf .brand-logo-wrap,
  .brand-power-strut .brand-logo-wrap,
  .brand-razor-ribbon .brand-logo-wrap,
  .brand-kaf-tech .brand-logo-wrap,
  .brand-tectron-tube .brand-logo-wrap,
  .brand-sprinkflex .brand-logo-wrap {
    margin-top: @margin-top-brand-logo-sm;
  }
  
  .brand-flexhead-industries .brand-logo-wrap,
  .brand-cope .brand-logo-wrap,
  .brand-eastern-wire-conduit .brand-logo-wrap,
  .brand-allied-tube-conduit .brand-logo-wrap {
    margin-top: @margin-top-brand-logo-md;
  }
  
  .brand-acsuni-fab .brand-logo-wrap,
  .brand-acroba .brand-logo-wrap,
  .brand-atkore-international .brand-logo-wrap,
  .brand-afc-cable-systems .brand-logo-wrap {
    margin-top: @margin-top-brand-logo-lg;
  }
  
  #carousel-home .carousel-caption h1 {
    font-size: 30px;
  }
  
}

@media (min-width: @screen-md) {

  .brand-logo-wrap {
    max-height: @brands-carousel-height-md;
    height: @brands-carousel-height-md;
    width: 60%;
  }

  #carousel-brands .item,
  #carousel-brands ul,
  #carousel-brands ul li,
  #carousel-brands ul li a {
    max-height: @brands-carousel-height-md;
    height: @brands-carousel-height-md;
  }
  
  .brand-atkore-international .brand-logo-wrap {
    width: 30%;
  }
  
  #carousel-home .carousel-caption {
  bottom: 50px;
  }
  
  #carousel-home .carousel-caption h1 {
  font-size: 30px;
  }
  
  
}

@media (min-width: @screen-lg) {
  #carousel-brands .item,
  #carousel-brands ul,
  #carousel-brands ul li,
  #carousel-brands ul li a {
    max-height: @brands-carousel-height-lg;
    height: @brands-carousel-height-lg;
  }
  
  .brand-logo-wrap {
    max-height: @brands-carousel-height-lg;
    height: @brands-carousel-height-lg;
    width: 70%;
  }
  
  .brand-acsuni-fab .brand-logo-wrap,
  .brand-acroba .brand-logo-wrap,
  .brand-atkore-international .brand-logo-wrap,
  .brand-afc-cable-systems .brand-logo-wrap {
    margin-top: @margin-top-brand-logo-lg;
  }

  .brand-atkore-international .brand-logo-wrap {
    width: 35%;
  }

}

@media (max-width: @screen-xs-max) {
  
}
@media (min-width: @screen-sm) and (max-width: @screen-sm-max) {
  
}