// ! HOMEPAGE WIDGETS

body.home #sidebar-footer .widget .textwidget {

}

body.home h3 {
  font-family: @atkore-secondary-font-family;
  color: @brand-secondary;
  text-transform: uppercase;
  font-weight: bold;
}

body.home .widget h3 {
  border-bottom: @dashed-line;
  	-webkit-box-shadow:  0 2px 4px rgba(0,0,0,0.1);
	   -moz-box-shadow:  0 2px 4px  rgba(0,0,0,0.1);
	        box-shadow:  0 2px 4px  rgba(0,0,0,0.1);
	        position: relative;
	        z-index: 1000;
}

body.home .widget {

}

body.home .widget h4 {
  color: @brand-primary;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  letter-spacing: normal;
  text-transform: capitalize;
  padding-right: 25%;
}

body.home .widget p {

}

body.home .widget-last.widget_text .textwidget {
  background-color: #E9EAEC;
}


.widget .textwidget {
  margin: -10px auto 0 auto;
  padding-top: 10px;
}

.widget-last .textwidget img {
  margin: -10px auto 0 auto;
  width: 300px;
  display: block;

}

.widget_better_rss_widget ul {
  list-style: none;
  margin-left: 0;
}

.news-wrap {
  position: relative;
  z-index: 2000;
  top: 350px;
  padding-top: 25px;
}

body.home .main {
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  display: block;
  height: 450px;
}

body.home .wrap {
  top: 500px;
  position: absolute;
}

#home-news {
  -webkit-box-shadow: 0px 0px 12px rgba(50, 50, 50, 0.35);
  -moz-box-shadow:    0px 0px 12px rgba(50, 50, 50, 0.35);
  box-shadow:         0px 0px 12px rgba(50, 50, 50, 0.35);
}