@header-height: 		auto;
@min-header-height: 85px;
@max-header-height: 300px;

.page-header-wrapper {
  .rounded-corners-rightside;
  position: relative;
  background-position: top right;
  margin-top: 0;
  height: @header-height;
  min-height: @min-header-height;
  max-height: @max-header-height;
  padding-left: 0;
  padding-top: 0;
  z-index: 1000;
  width: 100%;
	-webkit-box-shadow: inset 0 0 20px rgba(0,0,0,0.5);
	   -moz-box-shadow: inset 0 0 20px rgba(0,0,0,0.5);
	    -ms-box-shadow: inset 0 0 20px rgba(0,0,0,0.5);
	     -o-box-shadow: inset 0 0 20px rgba(0,0,0,0.5);
	        box-shadow: inset 0 0 20px rgba(0,0,0,0.5);
}

.no-cssgradients .page-header-wrapper {
  /*background: url("@{ieHeaderGradientFallback}") repeat-y top left @primary-color;*/
}


body[class*="kaf-tech"].page-template-template-map-php header {
	margin-top: -70px!important;
}

	

.page-header {
  .rounded-corners-rightside;
	  position: relative;
	  width: 100%;
	  display: block;
	  margin: 20px 0 10px;
	  padding: 0;
	  border-bottom: 0;
	  h1 {
	  .rounded-corners-rightside;
	  border-left: 15px solid @brand-primary;
	  overflow: hidden!important;
	  margin-top: 20px;
	  margin-bottom: 0;
	  height: @header-height;
	  min-height: @min-header-height;
	  max-height: @max-header-height;
	  width: 100%;
	  z-index: 1010;
	  #gradient > .horizontal(@brand-secondary, @brand-primary);
		-webkit-box-shadow: inset 0 0 20px rgba(0,0,0,0.5);
		   -moz-box-shadow: inset 0 0 20px rgba(0,0,0,0.5);
		    -ms-box-shadow: inset 0 0 20px rgba(0,0,0,0.5);
		     -o-box-shadow: inset 0 0 20px rgba(0,0,0,0.5);
		        box-shadow: inset 0 0 20px rgba(0,0,0,0.5);
		  font-family: @atkore-primary-font-family;
		  color: #fff;
		  font-weight: normal;
		  font-size: 42px;
		  padding: 5% 0;
		  letter-spacing: -1px;
		  text-transform: uppercase;
		  text-shadow: 1px 1px 0 rgba(0,0,0,.2), 2px 2px 0 rgba(0,0,0,.2), 3px 3px 0 rgba(0,0,0,.2);
		  //white-space: nowrap;
		  margin-top: 0;
		  display: block;
		  z-index: 1010;
		  .text-wrap {
		  	display: block;
				padding-left: 20px;
			}
		  sup {
		  font-size: percentage(0.5);
		  top: -0.8em;
			}

		
		h2 {
		  font-family: @atkore-secondary-font-family;
		  color: darken(#fff, 20%);
		  font-weight: normal;
		  font-size: 18px;
		  text-transform: none;
		  line-height: 18px;
		  padding-right: 38%;
		  white-space: normal;
		  text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
		  position: absolute;
		  z-index: 1010;
		}
	}
}


.product-image-wrapper {
  .rounded-corners-rightside;
  overflow: hidden;
  width: 100%;
  display: block;
  height: 240px;
  // margin-top: -100px;
  position: absolute;
}

.product-image {
  .rounded-corners-rightside;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 90% 100%;
  display: block;
  float: right;
  position: absolute;
  bottom: -46px;
  right: 0;
  width: 100%;
  height: 210px;
  margin-top: -120px;
  padding-top: 40px;
  z-index: 1010;

}

.no-backgroundsize .product-image {
  width: 50%;
}

