/** ==========================================================================
 * BuddyPress related styles and haxx0r
 * ========================================================================== */

 div.item-list-tabs:not(#subnav) > ul {
 	.nav;
 	.nav-tabs;

 	> li {
 		span {
 			.badge;
 		}
 	}
 }

/* ==========================================================================
 * Post form
 * ========================================================================== */

 div#buddypress {
 	.container-fixed();

 	form#whats-new-form {
 		.make-row();
 		margin-bottom: 2em;

 		div#whats-new-avatar {
 			.make-lg-column(3);
 		}

 		div#whats-new-content {
 			.make-lg-column(9);

 			div.whats-new-row {
 				.make-row();
 			}

 			div#whats-new-textarea {
 				.make-lg-column(12);

 				textarea {
 					.form-control;
 				}
 			}

 			div#whats-new-options {
 				div#whats-new-post-in-box {
 					.make-sm-column(8);

 					select#whats-new-post-in {
 						.form-control;
 						.input-sm;
 					}
 				}

 				div#whats-new-submit {
 					.make-sm-column(4);
 					min-height: 70px;

 					input#aw-whats-new-submit {
 						.btn-sm;
 						.pull-right;
 						.btn-block;

 						margin-top: 25px;
 						margin-bottom: 15px;
 					}
 				}
 			}
 		}
 	}
 }


/* ==========================================================================
 * Activity Stream
 * ========================================================================== */

 div#buddypress .activity {
 	ul.item-list {
 		list-style: none;
 		padding: 0;

 		> li:first-of-type {
 			border-top: 1px solid @gray-lighter;
 		}

 		> li {
 			border-bottom: 1px solid @gray-lighter;
 			padding: 2em 0;

 			.activity-avatar {
 				.pull-left;
 				margin: 0 15px 0 0;
 			}

 			.activity-content {
 				margin-left: 65px;
 				margin-right: 20px;
 				.clearfix();

 				.activity-header {
 					a:first-of-type {
 						font-weight: bold;
 					}
 					a.activity-time-since {
 						.small;
 						color: @gray-light;
 					}
 				}

 				.activity-meta {
 					> a {
 						.small;
 						color: @gray;
 						margin-right: 6px;

 						span.glyphicon {
 							margin-right: 4px;
 						}
 					}
 				}
 			}
			
			&.has-comments .activity-comments:before {
				width: 0; 
				height: 0;
				margin-bottom: -5px;
				margin-left: 15px;
				border-left: 5px solid transparent;
				border-right: 5px solid transparent;
				border-bottom: 5px solid @gray-lighter;
			}

 			.activity-comments {
 				margin-left: 65px;
 				margin-top: 10px;
 				max-width: 500px;
 				font-size: 90%;

 				.clearfix();

 				ul {
 					list-style: none;
 					padding: 5px 0 0 0;

 					li {
 						background-color: @gray-lighter;
 						margin-bottom: 2px;
 						padding: 6px;

 						.acomment-avatar {
 							.pull-left;
 						}

 						.acomment-meta {
 							margin-left: 40px;

 							> a:first-of-type {
 								font-weight: bold;
 							}

 							a.activity-time-since {
 								.small;
 								color: @gray;
 							}
 						}

 						.acomment-content {
 							margin-left: 40px;
 							
 							> p {
 								margin-bottom: 0;
 							}
 						}

 						.acomment-options {
 							margin-left: 40px;
 							
 							> a {
 								.small;
 								color: @gray;
 							}
 						}
 					}
 				}

 				form.ac-form {
 					display: none; //hide comment form until link is clicked
 					background-color: @gray-lighter;
 					padding: 5px;

 					.ac-reply-avatar {
 						.pull-left;
 					}

 					.ac-reply-content {
 						margin-left: 40px;

 						textarea {
 							.form-control;
 							.input-sm;
 							margin-bottom: 5px;
 						}

 						input[type="submit"] {
 							.btn-sm;
 						}
 					}
 				}
 			}
 		}

 		li.load-more a {
 			.btn;
 			.btn-default;
 			.btn-block;
 		}
 	}
 }



/* ==========================================================================
 * Directories
 * ========================================================================== */

 div#buddypress .dir-search {
 	margin-bottom: @line-height-computed;
 }

 div#buddypress .dir-list {

 	div.pagination-container {
 		text-align: center;
 		div.pagination-links {
 			ul {
 				.pagination;
 			}
 		}
 	}

 	ul.item-list {
 		list-style: none;
 		padding: 0;

 		> li:first-of-type {
 			border-top: 1px solid @gray-lighter;
 		}

 		> li {
 			border-bottom: 1px solid @gray-lighter;
 			padding: 15px 0;

 			.item-avatar {
 				.pull-left;
 				img {
 					.pull-left;
 					width: 100px;
 					height: 100px;
 					margin: 0 15px 0 0;
 					border-radius: 50px;
 				}
 			}

 			div.item {
 				@media (min-width: @screen-sm-min) {
 					.pull-left;
 					max-width: 450px;
 				}

 				.item-title {
 					> a {
 						font-size: @font-size-h4;
 					}
 					span.update .activity-read-more a {
 						font-size: @font-size-small;
 					}
 				}
 				.item-meta span {
 					color: @gray-light;
 					.small;
 				}
 			}

 			div.action {
 				@media (min-width: @screen-sm-min) {
 					.pull-right;
 					min-width: 150px;
 				}

 				.meta > p {
 					color: @gray-light;
 					.text-right;
 					.small;
 				}

 				.generic-button {
 					margin-bottom: 10px;

 					a.join-group,
 					a.request-membership,
 					a.friendship-button.not_friends,
 					a.follow {
 						.btn;
 						.btn-block;
 						.btn-success;
 					}
 					a.leave-group,
 					a.friendship-button.is_friend,
 					a.unfollow {
 						.btn;
 						.btn-block;
 						.btn-danger;
 					}
 					a.membership-requested,
 					a.friendship-button.pending_friend,
 					&.not-following a.disabled {
 						.btn;
 						.btn-block;
 						.btn-success;
 						.disabled;
 					}
 					&.following a.disabled {
 						.btn;
 						.btn-block;
 						.btn-danger;
 						.disabled;
 					}
 				}
 			}

 			div.clear {
 				.clearfix();
 			}
 		}
 	}
 }


/* ==========================================================================
 * Profiles
 * ========================================================================== */

 div#buddypress {

 	div#item-header {
 		.clearfix();

 		div#item-header-avatar {
 			.pull-left;
 			margin: 0 15px 0 0;
 		}

 		div#item-header-content {
 			.pull-left;
 			max-width: 550px;

 			.activity {
 				font-size: @font-size-small;
 				color: @gray-light;
 			}
 			#item-meta {
 				padding: 10px 0;
 			}
 		}
 	}

 	div#item-nav {
 		padding: @padding-large-horizontal 0;
 	}

 	div#item-body {

 	}
 }


