.guide {
    position: fixed;
    z-index: 10000;
    visibility: hidden;
    transition: 0.4s opacity ease-out;
    pointer-events: none;
    opacity: 0;
    inset: 0;

    &::before,
    &::after {
        position: absolute;
        right: 0;
        left: 0;
        display: none;
        height: 1px;
        background: red;
        content: '';
    }

    &::before {
        top: 10vh;
    }

    &::after {
        bottom: 10vh;
    }

    &-wrapper {
        @include grid;
        height: 100%;
        row-gap: 0;
    }

    &-element {
        border-right: 1px solid var(--guide-outline-color, rgba(150 0 0 / 0.2));
        border-left: 1px solid var(--guide-outline-color, rgba(150 0 0 / 0.2));
        background: var(--guide-background-color, rgba(150 0 0 / 0.1));
    }

    .container {
        height: 100%;
    }

    &.active {
        visibility: visible;
        opacity: 1;
    }
}

.debug {
    *:not(.container, .main-content, .main-header, .main-footer, .guide, [class^='guide-']):hover {
        background-color: var(--guide-debug-color, rgba(150 150 255 / 0.1));
    }
}
