/*=================================================================
Overwriting Foundation variables goes before including foundation itself.
Copied from Foundation's settings.scss
=================================================================*/

@import "_settings";

/*=================================================================  
  
    Import Foundation Components - REMOVE what you don't use to keep the CSS as little as possible

=================================================================*/

@import "_foundation";

/*=================================================================
Import Roots Components - Do your SASS awesomeness here! Goodspeed young traveler :)
=================================================================*/

@import "_global";                   // Base styling & custom mixins
@import "components/_buttons";       // Button tweaks
@import "components/_forms";         // Form tweaks
@import "components/_media";         // WordPress media
@import "components/_wp-classes";    // WordPress generated classes
@import "layouts/_general";          // General styling
@import "layouts/_header";           // Header styling
@import "layouts/_sidebar";          // Sidebar styling
@import "layouts/_footer";           // Footer styling
@import "layouts/_pages";            // Page styling
@import "layouts/pages/_home";       // Home page styling
@import "layouts/_posts";            // Post styling

/*==========  Foundation Media Queries - copy/paste from here if needed  ==========*/

@media #{$small-up} { }
@media #{$small-only} { }

@media #{$medium-up} { }
@media #{$medium-only} { }

@media #{$large-up} { }
@media #{$large-only} { }

@media #{$xlarge-up} { }
@media #{$xlarge-only} { }

@media #{$xxlarge-up} { }
@media #{$xxlarge-only} { }
