.wp-block-embed.alignleft,
.wp-block-embed.alignright {
  width: 100%;
  max-width: wp-editor-wide-align("max-width"); // #TODO codify max-width to better surface for users
}

.wp-has-aspect-ratio {
  > .wp-block-embed__wrapper {
    position: relative;
  }

  > .wp-block-embed__wrapper::before {
    display: block;
    content: "";
  }

  iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  figcaption {
    display: inline-block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  &.wp-has-aspect-ratio.wp-embed-aspect-21-9 .wp-block-embed__wrapper::before {
    padding-top: percentage(9 / 21);
  }

  &.wp-has-aspect-ratio.wp-embed-aspect-18-9 .wp-block-embed__wrapper::before {
    padding-top: percentage(9 / 18);
  }

  &.wp-has-aspect-ratio.wp-embed-aspect-16-9 .wp-block-embed__wrapper::before {
    padding-top: percentage(9 / 16);
  }

  &.wp-has-aspect-ratio.wp-embed-aspect-4-3 .wp-block-embed__wrapper::before {
    padding-top: percentage(3 / 4);
  }

  &.wp-has-aspect-ratio.wp-embed-aspect-1-1 .wp-block-embed__wrapper::before {
    padding-top: percentage(1 / 1);
  }

  &.wp-has-aspect-ratio.wp-embed-aspect-9-6 .wp-block-embed__wrapper::before {
    padding-top: percentage(6 / 9);
  }

  &.wp-has-aspect-ratio.wp-embed-aspect-1-2 .wp-block-embed__wrapper::before {
    padding-top: percentage(2 / 1);
  }
}
