.wp-block-pullquote {
  margin-top: wp-editor-spacing();
  margin-bottom: wp-editor-spacing();

  blockquote > p {
    margin-top: 0;
  }

  &.alignwide,
  &.alignfull {
    display: block;
    padding-left: wp-editor-spacing();
    padding-right: wp-editor-spacing();
  }

  &.alignwide p,
  &.alignfull p {
    font-size: wp-editor-font-size("normal");
    text-align: center;
  }

  &.alignwide blockquote,
  &.alignfull blockquote {
    margin-top: wp-editor-spacing();
    margin-bottom: wp-editor-spacing();
    font-size: wp-editor-font-size("normal");
  }

  &.alignwide blockquote p,
  &.alignfull blockquote p,
  &.alignwide cite,
  &.alignfull cite {
    display: block;
    text-align: center;
  }

  &.alignwide cite,
  &.alignfull cite {
    font-style: normal;
    text-transform: uppercase;
    text-align: center;
  }

  &.alignleft blockquote cite,
  &.alignright blockquote cite {
    text-transform: uppercase;
  }

  &.alignleft {
    text-align: left;
  }

  &.alignleft > blockquote {
    float: left;
    margin-right: (wp-editor-spacing() * 2);
  }

  &.alignright {
    text-align: right;
  }

  &.alignright blockquote {
    float: right;
    margin-left: (wp-editor-spacing() * 2);
  }

  figure:not(.alignleft, .alignright) {
    padding-left: wp-editor-spacing();
    padding-right: wp-editor-spacing();
  }
}

.wp-block-quote {
  margin-top: wp-editor-spacing();
  margin-bottom: wp-editor-spacing();
  font-size: wp-editor-font-size("normal");

  &.is-large blockquote p {
    font-size: wp-editor-font-size("large");
  }

  &.is-large blockquote cite {
    font-size: wp-editor-font-size("normal");
  }

  &.alignwide blockquote p,
  &.alignfull blockquote p {
    font-size: wp-editor-font-size("large");
    text-align: center;
  }

  &.alignwide blockquote cite {
    font-size: wp-editor-font-size("normal");
  }
}
