.wp-block-separator {
  display: block;
  clear: both;
  margin: wp-editor-spacing() auto;
  padding: 0;
  background: transparent;
  border-bottom: 1px solid wp-editor-color("light");
  opacity: 0.6;

  &.is-style-wide {
    max-width: 80vw;
    width: 80vw;
  }

  &.is-style-dots {
    max-width: none;
    height: auto;
    line-height: 0;
    background: none;
    border: none;
    text-align: center;
  }

  &.is-style-dots::before {
    content: "\00b7 \00b7 \00b7";
    color: wp-editor-color("light");
    font-size: wp-editor-font-size("large");
    letter-spacing: wp-editor-spacing();
    font-family: serif;
  }
}
