.wp-block-audio {
  audio {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: wp-editor-border-radius("slight");
  }

  figcaption {
    text-align: center;
    font-style: italic;
  }
}
