.wp-block-gallery {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  list-style-type: none;

  .blocks-gallery-image,
  .blocks-gallery-item {
    display: flex;
    position: relative;
    flex-grow: 1;
    flex-direction: column;
    align-items: justify;
    overflow: hidden;
    justify-content: space-evenly;
    width: calc((100% / 2) - 1rem);
    margin: 2.5px;

    figure {
      display: flex;
      align-items: end;
      height: 100%;
      margin: 0;
      padding-left: 0;
      padding-right: 0;
      overflow: hidden;
    }

    img {
      display: block;
      padding: 0;
      height: auto;
    }

    figcaption {
      position: absolute;
      bottom: 0;
      justify-content: center;
      width: 100%;
      margin: 0;
      padding: ($wp-blocks-spacing * 3) ($wp-blocks-spacing / 2) ($wp-blocks-spacing / 3);
      color: wp-blocks-color("white");
      text-align: center;
      opacity: 80%;

      /* background-gradient with ease-in-out-sine */
      background:
        linear-gradient(
          to top,
          wp-blocks-color("dark") 0%,
          rgba(wp-blocks-color("dark"), 0.738) 19%,
          rgba(wp-blocks-color("dark"), 0.541) 34%,
          rgba(wp-blocks-color("dark"), 0.382) 47%,
          rgba(wp-blocks-color("dark"), 0.278) 56.5%,
          rgba(wp-blocks-color("dark"), 0.194) 65%,
          rgba(wp-blocks-color("dark"), 0.126) 73%,
          rgba(wp-blocks-color("dark"), 0.075) 80.2%,
          rgba(wp-blocks-color("dark"), 0.042) 86.1%,
          rgba(wp-blocks-color("dark"), 0.021) 91%,
          rgba(wp-blocks-color("dark"), 0.008) 95.2%,
          rgba(wp-blocks-color("dark"), 0.002) 98.2%,
          rgba(wp-blocks-color("dark"), 0) 100%,
        );
    }

    figcaption img {
      display: inline;
    }
  }

  &.is-cropped .blocks-gallery-image,
  &.is-cropped .blocks-gallery-item {
    a,
    img {
      display: flex;
      width: 100%;
      height: 100%;
      background-size: cover;
    }
  }

  @media (min-width: #{$wp-blocks-container-md}) {
    @for $i from 3 through 8 {
      &.columns-#{ $i } .blocks-gallery-image,
      &.columns-#{ $i } .blocks-gallery-item {
        width: calc((100% / #{ $i }) - 1rem);
      }
    }
  }
}
