.wp-block-table {
  display: block;
  width: 100%;
  margin-bottom: wp-editor-spacing();

  tbody {
    display: table;
  }

  tr:first-child td {
    position: relative;
    padding-right: wp-editor-spacing();
  }
}
