// Captions
.wp-caption {
  // @extend .thumbnail;
}

// Gallery shortcode
.gallery-row {
  padding: ($base-line-height / 2) 0;
}

// Media objects
// Source: http://stubbornella.org/content/?p=497
// Adapted from bootstrap for use with Foundation
// --------------------------------------------------

// Options for margins
$media-spacing: 15px;
$media-heading-bottom-margin: 5px;
$media-image-alignment-margin: 10px;

// Clear the floats
.media,
.media-body {
    overflow: hidden;
    zoom: 1;
}

// Proper spacing between instances of .media
.media,
.media .media {
  margin-top: $media-spacing;
}
.media:first-child {
  margin-top: 0;
}

// For images and videos, set to block
.media-object {
  display: block;
}

// Reset margins on headings for tighter default spacing
.media-heading {
  margin-bottom: $media-heading-bottom-margin;
}


// Media image alignment
// -------------------------

.media {
  .left {
    margin-right: $media-image-alignment-margin;
  }
  .right {
    margin-left: $media-image-alignment-margin;
  }
}


// Media list variation
// -------------------------

// Undo default ul/ol styles
.media-list {
  padding-left: 0;
  list-style: none;
}
