// WordPress Generated Classes
// http://codex.wordpress.org/CSS#WordPress_Generated_Classes

.aligncenter {
  display: block;
  margin: ($base-line-height / 2) auto;
}
.alignleft,
.alignright {
  margin-bottom: ($base-line-height / 2);
}
figure.alignnone {
  margin-left: 0;
  margin-right: 0;
  max-width: 100%;
}

@media #{$small-only} {
  // Only float images if not on an extra small device like smartphones
  .alignleft {
    float: left;
    margin-right: ($base-line-height / 2);
  }
  .alignright {
    float: right;
    margin-left: ($base-line-height / 2);
  }
}
