// WordPress Generated Classes
// http://codex.wordpress.org/CSS#WordPress_Generated_Classes
figure.alignnone {
  margin-left: 0;
  margin-right: 0;
  max-width: 100%;
}

.alignleft,
.alignright,
.aligncenter {
  margin-right: 0;
  margin-left: 0;
}

@media #{$medium-up} {

  .aligncenter {
    display: block;
    margin: ($base-line-height / 2) auto;
  }

  .alignleft {
    float: left;
    margin-right: ($base-line-height / 2);
  }
  .alignright {
    float: right;
    margin-left: ($base-line-height / 2);
  }
}
