// CSS Reset
@import "bootstrap-less/reset.less";

// Core variables and mixins
@import "bootstrap-less/variables.less"; // Modify this for custom colors, font-sizes, etc
@import "bootstrap-less/mixins.less";

// Grid system and page structure
@import "bootstrap-less/scaffolding.less";
@import "bootstrap-less/grid.less";
@import "bootstrap-less/layouts.less";

// Base CSS
@import "bootstrap-less/type.less";
@import "bootstrap-less/code.less";
@import "bootstrap-less/forms.less";
@import "bootstrap-less/tables.less";

// Components: common
// @import "bootstrap-less/sprites.less";
@import "../../fonts/font-awesome.less";
@import "bootstrap-less/dropdowns.less";
@import "bootstrap-less/wells.less";
@import "bootstrap-less/component-animations.less";
@import "bootstrap-less/close.less";

// Components: Buttons & Alerts
@import "bootstrap-less/buttons.less";
@import "bootstrap-less/button-groups.less";
@import "bootstrap-less/alerts.less"; // Note: alerts share common CSS with buttons and thus have styles in buttons.less

// Components: Nav
@import "bootstrap-less/navs.less";
@import "bootstrap-less/navbar.less";
@import "bootstrap-less/breadcrumbs.less";
@import "bootstrap-less/pagination.less";
@import "bootstrap-less/pager.less";

// Components: Popovers
@import "bootstrap-less/modals.less";
@import "bootstrap-less/tooltip.less";
@import "bootstrap-less/popovers.less";

// Components: Misc
@import "bootstrap-less/thumbnails.less";
@import "bootstrap-less/media.less";
@import "bootstrap-less/labels-badges.less";
@import "bootstrap-less/progress-bars.less";
@import "bootstrap-less/accordion.less";
@import "bootstrap-less/carousel.less";
@import "bootstrap-less/hero-unit.less";

// Utility classes
@import "bootstrap-less/utilities.less"; // Has to be last to override when necessary

@import "bootstrap-less/responsive.less";

// Required from wordpress.org
.wp-caption{}
.wp-caption-text{}
.sticky{}
.gallery-caption{}
.bypostauthor{}

#wrap{padding: 20px;}

@media (min-width: 768px){
  .row-fluid .span4{width: 31.6%;}
}

/* Fixed Topbar Navigation */
body{
  &.top-navbar { padding-top: 60px; }
  &.admin-bar{
    .navbar-fixed-top { top: 28px; }
  }
}

.aligncenter { display: block; margin: 0 auto; }

.alignleft { float: left; }

.alignright { float: right; }

figure.alignnone { margin-left: 0; margin-right: 0; }

@media (max-width: 979px) {
  /* Fix top padding when using the responsive grid with the fixed topbar */
  body.top-navbar {
    padding-top: 0;
  }
}

.logo-wrapper{margin-top: -20px;
  .logo{padding: 20px 0;
    a.brand{text-decoration: none;}
  }
  .dropdown{
    .dropdown-menu{
      a{color: #333;
        &:hover{color: #fff;}
      }
    }
  }
  .nav-pills > li > a:hover{background: rgba(255, 255, 255, 0.2);}
  .nav-tabs .open .dropdown-toggle, .nav-pills .open .dropdown-toggle, .nav > li.dropdown.open.active > a:hover{background: rgba(255, 255, 255, 0.2);}
}

.jumbotron{padding: 50px 0; text-align: center; text-shadow: 0 1px 3px rgba(0, 0, 0, .4), 0 0 30px rgba(0, 0, 0, .075); font-size: 40px; line-height: 1.25;
  h1{font-size: 100px; line-height: 1; letter-spacing: -2;}
  p{margin-bottom: 10px;
    a.btn{padding: 14px 24px; font-size: 24px;}
  }
}

@media (max-width: 767px){
  body{padding: 0; overflow-x: hidden;}
  .navbar-fixed-top .navbar-inner, .navbar-fixed-bottom .navbar-inner{padding-left: 25px; padding-right: 5px; margin-right: 20px;}
  .home-slider{display: none;}
  .admin-customize{display: none;}
}

.commerce-frontpage{
  .pagination{display: none;}
}

.admin-customize{position: fixed; bottom: 0; left: 0; width: 100px; height: 100px; background: url("../img/bottom-corner.png") no-repeat bottom left; opacity: 0.5;
  a{display: block; color: #fff !important; text-decoration: none; position: fixed; bottom: 13px; left: 3px; font-size: 50px;}
  &:hover{opacity: 1;}
}

ul.social-networks{
  li.social-networks{font-size: 25px; float: left; list-style: none; list-style-type: none;
    a{text-decoration: none; opacity: 0.8;
      &:hover{opacity: 1;}
    }
  }
}
.navbar .nav > li.social-networks > a{ padding: 10px 0; font-size: 22px; }

.navbar .nav li.cart .btn-cart{.btn; margin-top: 3px;}

#shoestrap_icon{position: fixed; bottom: 0; left: 0;
  a{ width: 100px; height: 20px; display: block; background: url("../img/bottom-corner.png") no-repeat bottom left; color: #fff; font-size: 50px; opacity: 0.3; text-decoration: none; padding: 60px 0 20px 5px; -webkit-transition: all 350ms linear; -moz-transition: all 350ms linear; -ms-transition: all 350ms linear; -o-transition: all 350ms linear; transition: all 350ms linear;
    &:hover{opacity: 1;}
  }
}

#main-subnav .container, #main-subnav .navbar-inner{height: 40px;}

@media (min-width: 980px) {
  .subnav-fixed {position: fixed; top: 0; left: 0; right: 0; height: 40px; z-index: 1020;
    .nav {margin: 0 auto;
      > li:first-child {
        > a, a:hover {.border-radius(0px);}
      }
    }
    .navbar-inner{border: 0 !important;}
  }
  
  body.admin-bar .subnav-fixed{top: 28px;}
}