/* Footer */

#footer_widget_area li {
  list-style: none;
}    
footer {
  padding: 18px 10px 12px;
  text-shadow: 1px 2px 1px #000;
}
#footer_widget_area {
  padding: 43px 10px 40px;
}
#footer_widget_area .panel, #footer_widget_area .panel-heading {
  background: transparent;
  border: 0;
}
.img-heart {
    position: relative;
    width: 100px;
    height: 90px;
    -webkit-background-clip: text;
}
.img-heart:before,
.img-heart:after {
    position: absolute;
    content: "";
    left: 50px;
    top: 0;
    width: 50px;
    height: 80px;
    -moz-border-radius: 50px 50px 0 0;
    border-radius: 50px 50px 0 0;
    -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
         -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transform-origin: 0 100%;
       -moz-transform-origin: 0 100%;
        -ms-transform-origin: 0 100%;
         -o-transform-origin: 0 100%;
            transform-origin: 0 100%;
}
.img-heart:after {
    left: 0;
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transform-origin: 100% 100%;
       -moz-transform-origin: 100% 100%;
        -ms-transform-origin: 100% 100%;
         -o-transform-origin: 100% 100%;
            transform-origin :100% 100%;
}
ul.the-icons li {
  list-style: none;
  font-size: 1.5em;
  line-height: 2em;
  
  width: 250px;
  text-align: center;
  margin: 8px;
  margin-bottom: 12px;
  float: left;
  display: block;
}
