/* Footer */

#footer_widget_area li {
  list-style: none;
}    

  
footer {
  padding: 18px 10px 12px;
  text-shadow: 1px 2px 1px #000;
}
#footer_widget_area {
  padding: 43px 10px 40px;
}
#footer_widget_area .panel, #footer_widget_area .panel-heading {
  background: transparent;
  border: 0;
}