

div.DTE {

}

div.DTE_Processing_Indicator {
	position: absolute;
	top: 10px;
	right: 13px;
	height: 32px;
	width: 32px;
	background: url('../images/ajax-loader.gif') no-repeat top left;
	display: none;
	z-index: 20;
}

div.DTED_Envelope_Container div.DTE_Processing_Indicator {
	right: 36px;
}

div.DTE_Header {
	position: absolute;
	top: 0;
	left: 0;
	height: 50px;
	width: 100%;
	background-color: #f3f3f3;
	border-bottom: 1px solid #ddd;
}

div.DTED_Lightbox_Content div.DTE_Header {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

div.DTE_Header_Content {
	padding: 18px 10px 2px 10px;
	font-size: 1.3em;
}


div.DTE_Body {
	padding: 50px 0;
}

div.DTE_Body_Content {
	position: relative;
	overflow: auto;
}


div.DTE_Form_Info {
}

div.DTE_Form_Content {
	position: relative;
	padding: 10px;
}


div.DTE_Footer {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 50px;
	width: 100%;
	background-color: #f3f3f3;
	border-top: 1px solid #ddd;
}

div.DTED_Lightbox_Content div.DTE_Footer,
div.DTED_Envelope_Container div.DTE_Footer {
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

div.DTE_Footer_Content {
	padding: 10px;
}



div.DTE_Field {
	position: relative;
	zoom: 1;
	
	clear: both;
	padding-top: 10px;
	padding-left: 20%;
	padding-right: 20%;
}

div.DTE_Field>label {
	float: left;
	width: 40%;
	padding-top: 2px;
}

div.DTE_Field>div.DTE_Field_Input {
	float: right;
	width: 60%;
}

div.DTE_Form_Clear {
	clear: both;
}

div.DTE_Form_Error {
	float: left;
	padding: 5px;
	display: none;
}

div.DTE_Field_StateError {
}



div.DTE_Field_Type_text input {
	padding: 3px;
	width: 100%;
}

div.DTE_Field_Type_textarea textarea {
	padding: 3px;
	width: 100%;
	height: 80px;
}

div.DTE_Field_Type_date img {
	vertical-align: middle;
	cursor: pointer;
	*cursor: hand;
}


div.DTE_Form_Buttons button {
	float: right;
	text-align: center;
	display: block;
	margin-top: 0;
	padding: 5px 15px;

	cursor: pointer;
	*cursor: hand;

	font-size: 14px;
	text-shadow: 0 1px 0 white;
	border: 1px solid #999;

	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
	    -ms-border-radius: 4px;
	     -o-border-radius: 4px;
	        border-radius: 4px;

	-webkit-box-shadow: 1px 1px 3px #ccc;
	   -moz-box-shadow: 1px 1px 3px #ccc;
	    -ms-box-shadow: 1px 1px 3px #ccc;
	     -o-box-shadow: 1px 1px 3px #ccc;
	        box-shadow: 1px 1px 3px #ccc;

	/* Generated by http://www.colorzilla.com/gradient-editor/ */
	background: #ffffff; /* Old browsers */
	background: -webkit-linear-gradient(top, #ffffff 0%,#f3f3f3 89%,#f9f9f9 100%); /* Chrome10+,Safari5.1+ */
	background:    -moz-linear-gradient(top, #ffffff 0%,#f3f3f3 89%,#f9f9f9 100%); /* FF3.6+ */
	background:     -ms-linear-gradient(top, #ffffff 0%,#f3f3f3 89%,#f9f9f9 100%); /* IE10+ */
	background:      -o-linear-gradient(top, #ffffff 0%,#f3f3f3 89%,#f9f9f9 100%); /* Opera 11.10+ */
	background:         linear-gradient(top, #ffffff 0%,#f3f3f3 89%,#f9f9f9 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f9f9f9',GradientType=0 ); /* IE6-9 */
}

div.DTE_Form_Buttons button:hover {
	border: 1px solid #666;

	-webkit-box-shadow: 1px 1px 3px #999;
	   -moz-box-shadow: 1px 1px 3px #999;
	    -ms-box-shadow: 1px 1px 3px #999;
	     -o-box-shadow: 1px 1px 3px #999;
	        box-shadow: 1px 1px 3px #999;

	background: #f3f3f3; /* Old browsers */
	background: -webkit-linear-gradient(top, #f3f3f3 0%,#e2e2e2 89%,#f4f4f4 100%); /* Chrome10+,Safari5.1+ */
	background:    -moz-linear-gradient(top, #f3f3f3 0%,#e2e2e2 89%,#f4f4f4 100%); /* FF3.6+ */
	background:     -ms-linear-gradient(top, #f3f3f3 0%,#e2e2e2 89%,#f4f4f4 100%); /* IE10+ */
	background:      -o-linear-gradient(top, #f3f3f3 0%,#e2e2e2 89%,#f4f4f4 100%); /* Opera 11.10+ */
	background:         linear-gradient(top, #f3f3f3 0%,#e2e2e2 89%,#f4f4f4 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f3f3', endColorstr='#f4f4f4',GradientType=0 ); /* IE6-9 */
}

div.DTE_Form_Buttons button:active {
	-webkit-box-shadow: inset 1px 1px 3px #999;
	   -moz-box-shadow: inset 1px 1px 3px #999;
	    -ms-box-shadow: inset 1px 1px 3px #999;
	     -o-box-shadow: inset 1px 1px 3px #999;
	        box-shadow: inset 1px 1px 3px #999;
}



div.DTE_Field_Error {
	font-size: 11px;
	display: none;
	color: red;
}

div.DTE_Action_Remove div.DTE_Body_Content {
	text-align: center;
	padding: 20px 0;
}


div.DTTT_container {
	float: left;
}



/*
 * Namespace: DTED - DataTables Editor Display - Lightbox
 */

div.DTED_Lightbox_Wrapper {
	position: fixed;
	top: 0;
	left: 50%;
	margin-left: -390px;
	width: 780px;
	height: 100%;
	z-index: 11;
	display: none;
}

div.DTED_Lightbox_Container {
	*position: absolute; /* IE6 */
	*top: 50%;
	#position: absolute; /* IE7 */
	#top: 50%;
	display: table;
	height: 100%;
	width: 100%;
}

div.DTED_Lightbox_Content_Wrapper {
	*position: relative; /* IE6 */
	#position: relative; /* IE7 */
	display: table-cell;
	vertical-align: middle;
	width: 100%;
}

div.DTED_Lightbox_Content {
	*top: -50%; /* IE6 */
	#top: -50%; /* IE7 */
	position: relative;
	border: 2px solid #111;
	box-shadow: 3px 3px 10px #555;
	border-radius: 5px;
	background-color: white;
}

div.DTED_Lightbox_Close {
	position: absolute;
	top: -15px;
	right: -15px;
	width: 30px;
	height: 30px;
	background: url('../images/close.png') no-repeat top left;
	cursor: pointer;
	*cursor: hand;
	z-index: 12;
}

div.DTED_Lightbox_Background {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	
	opacity: 0.1;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
	filter: alpha(opacity=10);

	background-color: black;
	z-index: 10;
	display: none;
}


/*
 * Namespace: DTED - DataTables Editor Display - Envelope
 */

div.DTED_Envelope_Wrapper {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 50%;
	height: 100%;
	z-index: 11;
	display: none;
	overflow: hidden;
}

div.DTED_Envelope_ShadowLeft {
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 9px;
	background: url('../images/shadow_left.png') no-repeat top left;
	z-index: 10;
}

div.DTED_Envelope_ShadowRight {
	position: absolute;
	top: 0;
	right: 0;
	width: 50%;
	height: 9px;
	background: url('../images/shadow_right.png') no-repeat top right;
	z-index: 10;
}


div.DTED_Envelope_Container {
	position: absolute;
	top: 0;
	left: 5%;
	width: 90%;

	border-left: 1px solid #777;
	border-right: 1px solid #777;
	border-bottom: 1px solid #777;
	box-shadow: 3px 3px 10px #555;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	background-color: white;
}

div.DTED_Envelope_Close {
	position: absolute;
	top: 16px;
	right: 10px;
	width: 18px;
	height: 18px;
	cursor: pointer;
	*cursor: hand;
	z-index: 12;
	text-align: center;
	font-size: 12px;

	background: #F8F8F8;
	background: -webkit-gradient(linear, center bottom, center top, from(#CCC), to(white));
	background: -moz-linear-gradient(top, white, #CCC);
	background: linear-gradient(top, white, #CCC);
	text-shadow: 0 1px 0 white;
	border: 1px solid #999;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	box-shadow: 0px 0px 1px #999;
	-moz-box-shadow: 0px 0px 1px #999;
	-webkit-box-shadow: 0px 0px 1px #999;
}

div.DTED_Envelope_Background {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	
	opacity: 0.1;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
	filter: alpha(opacity=10);

	background-color: black;
	z-index: 10;
	display: none;
}

