// Grid system
.main {
  @include make-col();

  @include make-col-span($main-sm-columns);
  .sidebar-primary & {
    @include make-col-span($main-sm-columns - $sidebar-sm-columns);
  }
}
.sidebar {
  @include make-col();

  @include make-col-span($sidebar-sm-columns);
}
