h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: bold;
}

p, li, address, abbr, pre {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

.post p {
  font-size: 18px;
  line-height: 30px;
  color: $grey;
}
