h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: bold;
}

p, li, address, abbr, pre {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

body, p {
  font-size: 16px;
  line-height: 28px;
  color: $grey;
  @media screen and (min-width: $screen-sm-min) {
    font-size: 18px;
    line-height: 30px;
  }
}

.entry-title,
.entry-title a {
  margin: 0;
  font-size: 42px;
  font-weight: bold;
  color: $white;
  @media screen and (min-width: $screen-sm-min) {
    font-size: 66px;
  }
}
