// Media queries
$grid-breakpoints:(xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1440px,
);

// Colors
$color-main: #164168;
$color-hover: #1C568A;
$color-active: #0F375B;

// Fonts
$font: "Roboto", -apple-system, system-ui, sans-serif;
