// Colors
$brand-primary:         #27ae60;

// Global options
$enable-flex:           true;

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Vendor variables
$fa-font-path:          '~font-awesome/fonts';
