// How to get started using Sass instead of Less:
//
// 1. Run `bower install bootstrap-sass-official --save`
// 2. Rename this file to `main.scss` and remove `main.less`
// 3. Rename `editor-style.less` to `editor-style.scss`
// 4. Update the `assets/manifest.json` styles dependenies from `.less` to `.scss`
//
// Feel free to remove this file if you're using Less

// bower:sass
@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
