/**
 * Block editor color palette utilities
 * @see https://git.io/JeyD6
 */
@each $color, $value in $theme-colors {
  .has-#{$color}-color {
    color: $value;
  }

  .has-#{$color}-background-color {
    background-color: $value;
  }

  .bg-#{$color} {
    background-color: $value;
  }

  .contrast-#{$color} {
    color: color-contrast($value);
  }
}
