.sw-myaccount {
  &__nav {
    li {
      padding-top: rem-calc(10);
      padding-bottom: rem-calc(10);
      &:first-child {
        padding-top: 0;
      }
      &:not(:last-child) {
        border-bottom: 1px solid $gray-200;
      }
    }
  }
}

.woocommerce-orders-table {
  &__header {
    &-order-actions {
      text-align: center;
    }
  }
  &__cell {
    &__order-actions {
      text-align: center;
    }
  }
  .button {
    @extend .btn-sm;
    @extend .btn-block;
  }
}

