/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

$theme-colors: (
  primary: #525ddc
);

/** Fix Bootstrap navbar incompatibility with webpack
* See https://github.com/roots/sage/issues/2017
*/
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;
