/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

$theme-colors: (
  primary: #525ddc
);

/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;

/** Gutenberg */
$wp-blocks-container-md: 600px;
$wp-blocks-container-lg: 768px;
$wp-blocks-container-xl: 900px;

/** Gutenberg breakpoints */
$wp-blocks-breakpoint-md: 576px;
$wp-blocks-breakpoint-lg: 676px;
$wp-blocks-breakpoint-xl: 992px;

/** Gutenberg spacing unit */
$wp-blocks-spacing: 30px;

/** Gutenberg font-sizes */
$wp-blocks-font-md: 1rem;
$wp-blocks-font-lg: 1.25rem;

/** Gutenberg colors */
$wp-blocks-color-muted: rgba(0, 0, 0, 0.2); // used on elements like hr
