/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

$theme-colors: (
  "primary": #525ddc,
  "secondary": #6c757d,
  "light": #f8f9fa,
  "dark":  #343a40,
);

/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;

/**
 * When true, blocks assume existence of Bootstrap
 *
 * This _will_ cause compilation errors if bootstrap
 * selectors are not available and it is enabled
 **/
$wp-blocks-bootstrap-enabled: true;

/**
 * Container max widths
 **/
$wp-blocks-container-md: 600px;
$wp-blocks-container-lg: 768px;
$wp-blocks-container-xl: 900px;

/**
 * Wide-align max-width
 **/
$wp-blocks-wide-align-width: 80%;
$wp-blocks-wide-align-max-width: 1400px;

/**
 * Media breakpoint widths
 **/
$wp-blocks-breakpoint-md: 576px;
$wp-blocks-breakpoint-lg: 676px;
$wp-blocks-breakpoint-xl: 992px;

/**
 * Spacing unit
 **/
$wp-blocks-spacing: 30px;

/**
 * Font sizes
 **/
$wp-blocks-font-sizes: (
  "small":  0.75rem,
  "normal": 1rem,
  "large":  1.25rem,
  "larger": 1.5rem,
);

/**
 * Colors
 **/
$wp-blocks-colors: (
  "primary":   map-get($theme-colors, "primary"),
  "secondary": map-get($theme-colors, "secondary"),
  "light":     map-get($theme-colors, "light"), // used on subdued elements like hr
  "dark":      map-get($theme-colors, "dark"),
  "white":     #fff,
  "black":     #000,
);
