.entry-content > *:not(.wp-block-wrap) {
  @include wp-blocks-contain();
}

.wp-block-wrap {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  max-width: none;
}

.wp-block-wrap > .alignfull {
  width: 100vw;
  margin-left: 0;
  margin-right: 0;
}

.wp-block-wrap > .alignwide {
  margin-left: auto;
  margin-right: auto;

  @media (min-width: #{$wp-blocks-container-md}) {
    width: $wp-blocks-wide-align-width;
    max-width: $wp-blocks-wide-align-max-width;
  }
}
