.attachment {
  header {
    position: relative;
    @media screen and (min-width: $screen-sm-min) {
      border-radius: 5px 5px 0 0;
    }
    img {
    	width: 100%;
	    @media screen and (min-width: $screen-sm-min) {
	      border-radius: 5px 5px 0 0;
	    }
    }
    .btn {
      position: absolute;
      bottom: 20px;
      left: 20px;
      @media screen and (min-width: $screen-sm-min) {
        bottom: 40px;
        left: 40px;
      }
    }
  }
}