.blog .post {
  background: #fff;
  border-radius: $radius;
  margin-bottom: 60px;
}

.blog .post header {
  background-color: $brand-primary;
  position: relative;
  border-radius: $radius $radius 0 0;
  min-height: 300px;
}

.blog .post header img {
  width: 100%;
  height: auto;
  z-index: 10;
  border-radius: $radius $radius 0 0;
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
  background: $brand-primary;
  opacity: 0.75;
  border-radius: $radius $radius 0 0;
}

.blog .post .entry-title a {
  position: absolute;
  top: 60px;
  left: 40px;
  z-index: 30;
  font-size: 68px;
  font-weight: bold;
  color: $white;
  margin: 0;
}

.blog .post .entry-summary {
  padding: 30px 40px;
  font-size: 18px;
  line-height: 30px;
  color: $grey;
}
