$wp-editor: (
  bootstrap-enabled: true,
  containers: (
    medium: 600px,
    large: 768px,
    extra-large: 900px
  ),
  breakpoints: (
    medium: 576px,
    large: 676px,
    extra-large: 992px
  ),
  wide-align: (
    width: 80%,
    max-width: 1400px
  ),
  spacing: 30px,
  fontSizes: (
    small: 12,
    normal: 16,
    large: 20,
    larger: 36
  ),
  colors: (
    primary: #525ddc,
    secondary: #6c757d,
    light: #f8f9fa,
    dark: #343a40,
    theme-white: #fff,
    theme-black: #000
  ),
  border-radii: (
    slight: 15px
  )
);
