/**
 * @mixin wp-block-contain
 *
 * General container unit
 **/
@mixin wp-blocks-contain() {
  width: 100%;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: $wp-blocks-spacing;
  padding-right: $wp-blocks-spacing;

  @media (min-width: #{$wp-blocks-breakpoint-lg}) {
    max-width: $wp-blocks-container-lg;
    padding-left: initial;
    padding-right: initial;
  }

  @media (min-width: #{$wp-blocks-breakpoint-xl}) {
    max-width: $wp-blocks-container-xl;
    padding-left: initial;
    padding-right: initial;
  }
}

/**
 * @mixin bootstrap-else
 *
 * If true utilize the given bootstrap class(es)
 * Else utilize the given fallback(s)
 **/
@mixin bootstrap-else($bootstrap, $fallback) {
  @if $wp-blocks-bootstrap-enabled == true {
    @if (type-of($bootstrap)=="list") {
      @each $extend in $bootstrap {
        @extend .#{$extend} !optional;
      }
    }

    @else {
      @extend .#{$bootstrap} !optional;
    }
  }

  @else {
    @if (type-of($fallback)=="list") {
      @each $extend in $fallback {
        @extend %#{$extend} !optional;
      }
    }

    @else {
      @extend %#{$fallback} !optional;
    }
  }
}
