@use 'sass:list';
@use 'sass:string';
@use 'sass:map';
@use 'sass:math';

/**
  * Font face
  */
@mixin font-face($name, $path, $exts: woff2 woff, $display: swap, $weight: null, $style: null) {
    $src: null;

    $extmods: (
        eot: '?',
        svg: '#' + str-replace($name, ' ', '_')
    );

    $formats: (
        otf: 'opentype',
        ttf: 'truetype'
    );

    @each $ext in $exts {
        $extmod: if(map.has-key($extmods, $ext), $ext + map.get($extmods, $ext), $ext);
        $format: if(map.has-key($formats, $ext), map.get($formats, $ext), $ext);
        $src: list.append($src, url('#{string.quote($path)}') format(string.quote($format)), comma);
    }

    @font-face {
        font-family: string.quote($name);
        font-display: $display;
        font-style: $style;
        font-weight: $weight;
        src: $src;
    }
}
