@each $name, $color in $theme-colors {
  .has-#{$name}-color {
    color: $color;
  }

  .has-#{$name}-background-color::before {
    background-color: $color;
  }

  @for $i from 1 through 10 {
    .has-background-dim.has-background-dim-#{ $i * 10 }::before {
      background-color: rgba($color, $i * 0.1);
    }
  }
}
