> header:first-child,
.entry-summary,
.entry-content > *:not(.wp-blocks-wrap),
> .comments {
  @include wp-blocks-contain();
}

.wp-blocks-wrap {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  max-width: none;
}

.wp-blocks-wrap > .alignfull {
  width: 100vw;
  margin-left: 0;
  margin-right: 0;
}

.wp-blocks-wrap > .alignwide {
  margin-left: auto;
  margin-right: auto;

  @media (min-width: #{$wp-blocks-container-md}) {
    max-width: $wp-blocks-wide-align-max-width;
  }
}
