> *:not(.gutenberg-wrap) {
  @include gutenberg-contain();
}

> .gutenberg-wrap {
  @extend .mx-0, .px-0;

  width: 100%;
  max-width: none;
}

> .gutenberg-wrap > .alignfull,
> .gutenberg-wrap > .alignwide {
  @extend .mx-auto;
}

> .gutenberg-wrap > .alignfull {
  width: 100vw;
}

> .gutenberg-wrap > .alignwide {
  @media (min-width: #{$gutenberg-container-md}) {
    max-width: 90vw;
  }
}
