> *:not(.gutenberg-wrap) {
  @include gutenberg-contain();
}

> .gutenberg-wrap {
  @extend .mx-0, .px-0, .vw-100;

  max-width: none;
}

> .gutenberg-wrap > .alignfull,
> .gutenberg-wrap > .alignwide {
  @extend .mx-0, .px-0;
}

> .gutenberg-wrap > .alignfull {
  @extend .vw-100;
}

> .gutenberg-wrap > .alignwide {
  @extend .mx-md-0;

  @media (min-width: #{$gutenberg-container-md}) {
    max-width: 90vw;
  }
}
