@mixin gutenberg-contain() {
  width: 100%;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: $gutenberg-spacing;
  padding-right: $gutenberg-spacing;

  @media (min-width: #{$gutenberg-breakpoint-lg}) {
    max-width: $gutenberg-container-lg;
    padding-left: initial;
    padding-right: initial;
  }

  @media (min-width: #{$gutenberg-breakpoint-xl}) {
    max-width: $gutenberg-container-xl;
    padding-left: initial;
    padding-right: initial;
  }
}
