@mixin wp-blocks-contain() {
  width: 100%;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: $wp-blocks-spacing;
  padding-right: $wp-blocks-spacing;

  @media (min-width: #{$wp-blocks-breakpoint-lg}) {
    max-width: $wp-blocks-container-lg;
    padding-left: initial;
    padding-right: initial;
  }

  @media (min-width: #{$wp-blocks-breakpoint-xl}) {
    max-width: $wp-blocks-container-xl;
    padding-left: initial;
    padding-right: initial;
  }
}
