@mixin gutenberg-contain() {
  width: 100%;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: $padding;
  padding-right: $padding;

  @media (min-width: #{$gutenberg-breakpoint-lg}) {
    max-width: $gutenberg-container-lg;
    padding-left: initial;
    padding-right: initial;
  }

  @media (min-width: #{$breakpoint-breakpoint-xlarge}) {
    max-width: $gutenberg-container-large;
    padding-left: initial;
    padding-right: initial;
  }
}
