$gutenberg-container-medium: 500px;
$gutenberg-container-large: 768px;
$gutenberg-container-xlarge: 900px;

$gutenberg-breakpoint-medium: 576px;
$gutenberg-breakpoint-large: 676px;
$gutenberg-breakpoint-xlarge: 992px;

$gutenberg-spacing: 30px;
