.wp-block-image {
  > img {
    @extend .d-block, .mw-100, .w-100, .mx-0;
  }

  figcaption {
    @extend .font-italic;
  }

  > figure {
    @extend .d-inline-block, .p-0;

    &.alignleft,
    &.alignright {
      @extend .d-inline;

      > img,
      > figcaption {
        @extend .mt-0;
      }
    }

    &.alignleft {
      > img,
      > figcaption {
        @extend .float-left;

        margin-right: $wp-blocks-spacing;
      }

      > figcaption {
        @extend .mt-0;

        clear: left;
        margin-bottom: $wp-blocks-spacing;
      }
    }

    &.alignright {
      > img,
      > figcaption {
        @extend .float-right;

        margin-left: $wp-blocks-spacing;
      }

      > figcaption {
        @extend .mt-0;

        clear: right;
        margin-bottom: $wp-blocks-spacing;
      }
    }

    &.aligncenter {
      > img,
      > figcaption {
        @extend .w-100;
      }

      > figcaption {
        @extend .w-100, .text-center, .mt-0;

        margin-bottom: $wp-blocks-spacing;
      }
    }
  }
}
