.wp-block-cover {
  @extend .d-flex, .flex-column, .justify-content-center, .align-items-center, .position-relative;

  margin-top: $gutenberg-spacing;
  margin-bottom: $gutenberg-spacing;
  padding-top: ($gutenberg-spacing * 3);
  padding-bottom: ($gutenberg-spacing * 3);

  h2,
  .wp-block-cover-text {
    @extend .display-4, .position-relative, .d-inline-block, .mb-0, .text-center, .text-white;

    padding-top: ($gutenberg-spacing * 3);
    padding-bottom: ($gutenberg-spacing * 3);
    z-index: 20;

    a {
      @extend .text-white;
    }
  }

  &.has-parallax {
    background-position: fixed;
  }

  &.has-background-dim::before {
    @extend .position-absolute, .w-100, .h-100;

    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    background-color: rgba($black, 0.5);
    content: "";
  }

  @for $i from 1 through 10 {
    &.has-background-dim.has-background-dim-#{ $i * 10 }::before {
      background-color: rgba($black, $i * 0.1);
    }
  }

  &.alignleft {
    @extend .mt-lg-0;

    @media (min-width: #{$gutenberg-container-lg}) {
      float: left;
      clear: left;
      width: 40%;
      margin-right: $gutenberg-spacing;
    }

    > p {
      @extend .text-lg-center;
    }
  }

  &.alignright {
    @extend .mt-lg-0;

    @media (min-width: #{$gutenberg-container-lg}) {
      float: right;
      clear: right;
      width: 40%;
      margin-left: $gutenberg-spacing;
    }

    > p {
      @extend .text-lg-center;
    }
  }

  &.aligncenter {
    @extend .w-100;

    clear: both;
  }
}

@media (max-width: #{$gutenberg-container-md}) {
  &.alignwide {
    width: 100vw;
    max-width: 100vw;
  }
}
