.wp-block-table {
  display: block;
  width: 100%;
  margin-bottom: $gutenberg-spacing;

  tbody {
    display: table;
  }

  tr:first-child > td {
    position: relative;
    width: 100%;
    padding-left: ($gutenberg-spacing / 2);
    padding-right: ($gutenberg-spacing / 2);
  }
}
