.wp-block-button {
  > .wp-block-button__link {
    @extend .d-inline-block, .btn, .btn-primary;
  }

  &.alignleft {
    @extend .text-left;

    > .wp-block-button__link {
      float: left;
      margin: $wp-blocks-spacing $wp-blocks-spacing $wp-blocks-spacing 0;
    }
  }

  &.alignright {
    text-align: right;

    > .wp-block-button__link {
      float: right;
      margin: $wp-blocks-spacing 0 $wp-blocks-spacing $wp-blocks-spacing;
    }
  }

  &.aligncenter {
    text-align: center;

    > .wp-block-button__link {
      margin-bottom: ($wp-blocks-spacing/2);
    }
  }
}
