.wp-block-embed.alignleft,
.wp-block-embed.alignright {
  @extend .w-100;

  max-width: 60%; // #TODO codify max-width to better surface for users
}

.wp-has-aspect-ratio {
  > .wp-block-embed__wrapper {
    @extend .position-relative;

    &::before {
      @extend .d-block;

      content: "";
    }

    iframe {
      @extend .position-absolute, .w-100, .h-100, .mx-auto;

      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }

  &.wp-has-aspect-ratio.wp-embed-aspect-21-9 .wp-block-embed__wrapper::before {
    padding-top: percentage(9 / 21);
  }

  &.wp-has-aspect-ratio.wp-embed-aspect-18-9 .wp-block-embed__wrapper::before {
    padding-top: percentage(9 / 18);
  }

  &.wp-has-aspect-ratio.wp-embed-aspect-16-9 .wp-block-embed__wrapper::before {
    padding-top: percentage(9 / 16);
  }

  &.wp-has-aspect-ratio.wp-embed-aspect-4-3 .wp-block-embed__wrapper::before {
    padding-top: percentage(3 / 4);
  }

  &.wp-has-aspect-ratio.wp-embed-aspect-1-1 .wp-block-embed__wrapper::before {
    padding-top: percentage(1 / 1);
  }

  &.wp-has-aspect-ratio.wp-embed-aspect-9-6 .wp-block-embed__wrapper::before {
    padding-top: percentage(6 / 9);
  }

  &.wp-has-aspect-ratio.wp-embed-aspect-1-2 .wp-block-embed__wrapper::before {
    padding-top: percentage(2 / 1);
  }
}
