.wp-block-gallery {
  @extend .d-flex, .flex-wrap, .p-0, .list-unstyled;

  .blocks-gallery-image,
  .blocks-gallery-item {
    @extend .d-flex, .position-relative, .flex-grow-1, .flex-column, .align-items-center, .m-1;

    overflow: hidden;
    width: calc((100% / 2) - 1rem);

    figure {
      @extend .d-flex, .align-items-end, .h-100, .m-0, .px-0;

      overflow: hidden;
    }

    img {
      @extend .d-block, .p-0;

      height: auto;
    }

    figcaption {
      @extend .position-absolute, .justify-content-center, .w-100, .m-0, .text-white, .text-center;

      padding: ($gutenberg-spacing / 3) ($gutenberg-spacing / 2);
      opacity: 80%;
      background: rgba($black, 0.4);

      img {
        @extend .d-inline;
      }
    }
  }

  &.is-cropped .blocks-gallery-image,
  &.is-cropped .blocks-gallery-item {
    a,
    img {
      @extend .d-flex, .w-100, .h-100;

      background-size: cover;
    }
  }

  @media (min-width: #{$gutenberg-breakpoint-medium}) {
    @for $i from 3 through 8 {
      &.columns-#{ $i } .blocks-gallery-image,
      &.columns-#{ $i } .blocks-gallery-item {
        width: calc((100% / #{ $i }) - 1rem);
      }
    }
  }

  @media (min-width: #{$gutenberg-breakpoint-medium}) {
    padding-left: $gutenberg-spacing;
    padding-right: $gutenberg-spacing;
  }
}
