.wp-block-quote {
  @extend .blockquote;

  margin-top: $gutenberg-spacing;
  margin-bottom: $gutenberg-spacing;

  &.is-large {
    > * {
      @extend .lead;
    }
  }
}

.wp-block-pullquote {
  margin-top: $gutenberg-spacing;
  margin-bottom: $gutenberg-spacing;

  > blockquote {
    > p {
      @extend .mt-0;
    }
  }

  &.alignwide,
  &.alignfull {
    @extend .d-block, .vw-100;

    > blockquote {
      @extend .blockquote;

      > p,
      > cite {
        @extend .d-block, .text-center;
      }

      > p {
        @extend .lead;
      }

      > cite {
        @extend .text-uppercase;

        font-style: normal;
      }

      @media (min-width: #{$gutenberg-container-lg}) {
        padding-left: $gutenberg-spacing;
        padding-right: $gutenberg-spacing;
      }
    }

    @media (min-width: #{$gutenberg-container-lg}) {
      padding-left: 5vw;
      padding-right: 5vw;
    }
  }

  &.alignleft blockquote,
  &.alignright blockquote {
    > cite {
      @extend .text-uppercase;
    }
  }

  &.alignleft {
    @extend .text-left;

    > blockquote {
      @extend .float-left;

      margin-right: ($gutenberg-spacing * 2);
    }
  }

  &.alignright {
    @extend .text-right;

    > blockquote {
      @extend .float-right;

      margin-left: ($gutenberg-spacing * 2);
    }
  }

  figure:not(.alignleft, .alignright) {
    padding-left: $gutenberg-spacing;
    padding-right: $gutenberg-spacing;
  }
}
