.wp-block-button {
  %wp-block-button__link {
    display: inline-block;
    padding: ($wp-blocks-spacing / 2) $wp-blocks-spacing;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    cursor: pointer;
    text-decoration: none;
    color: wp-blocks-color("white");
    background-color: wp-blocks-color("primary");
    border-color: wp-blocks-color("primary");

    &:active,
    &.active,
    &:hover,
    &.hover,
    &:focus,
    &.focus {
      outline: thin dotted; // Default
      outline: 5px auto -webkit-focus-ring-color; // WebKit
      outline-offset: -2px;
      text-decoration: none;
      background-color: darken(wp-blocks-color("primary"), 3%);
    }
  }

  .wp-block-button__link {
    @include bootstrap-else(("btn" "btn-primary"), wp-block-button__link);
  }

  &.alignleft {
    text-align: left;
  }

  &.alignright {
    text-align: right;
  }

  &.aligncenter {
    text-align: center;
  }

  &.alignleft .wp-block-button__link {
    float: left;
    margin: $wp-blocks-spacing $wp-blocks-spacing $wp-blocks-spacing 0;
  }

  &.alignright .wp-block-button__link {
    float: right;
    margin: $wp-blocks-spacing 0 $wp-blocks-spacing $wp-blocks-spacing;
  }

  &.aligncenter .wp-block-button__link {
    margin-bottom: ($wp-blocks-spacing / 2);
  }
}
