.wp-block-cover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: $wp-blocks-spacing;
  margin-bottom: $wp-blocks-spacing;
  padding-top: ($wp-blocks-spacing * 3);
  padding-bottom: ($wp-blocks-spacing * 3);
  background-size: cover;

  h2,
  .wp-block-cover-text {
    position: relative;
    display: inline-block;
    margin-bottom: 0;
    padding-top: ($wp-blocks-spacing * 3);
    padding-bottom: ($wp-blocks-spacing * 3);
    font-size: $wp-blocks-font-xl;
    text-align: center;
    color: $wp-blocks-color-white;
    z-index: 20;
  }

  h2 a,
  .wp-block-cover-text a {
    color: $wp-blocks-color-white;
  }

  &.has-parallax {
    background-position: fixed;
  }

  &.has-background-dim::before {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    content: "";
  }

  @media (min-width: #{$wp-blocks-container-lg}) {
    &.alignleft {
      float: left;
      clear: left;
      width: 40%;
      margin-top: 0;
      margin-right: $wp-blocks-spacing;
    }

    > p {
      text-align: center;
    }
  }

  @media (min-width: #{$wp-blocks-container-lg}) {
    &.alignright {
      float: right;
      clear: right;
      width: 40%;
      margin-top: 0;
      margin-left: $wp-blocks-spacing;
    }

    > p {
      text-align: center;
    }
  }

  &.aligncenter {
    width: 100%;
    clear: both;
  }
}

@media (max-width: #{$wp-blocks-container-md}) {
  &.alignwide {
    width: 100vw;
    max-width: 100vw;
  }
}
