> .wp-block-separator {
  @extend .d-block, .p-0, .mx-auto, .border-bottom;

  display: block;
  clear: both;
  padding: 0;
  margin-top: $gutenberg-spacing;
  margin-bottom: $gutenberg-spacing;
  background: transparent;
  opacity: 0.6;

  &.is-style-wide {
    max-width: 80vw;
    width: 80vw;
  }

  &.is-style-dots {
    @extend .border-0, .text-center;

    background: none; // Override any background themes often set on the hr tag for this style.
    max-width: none;
    line-height: 0;
    height: auto;

    &::before {
      content: "\00b7 \00b7 \00b7";
      color: rgba($black, 0.8);
      font-size: $font-size-base*2;
      letter-spacing: $gutenberg-spacing;
      font-family: serif;
    }
  }
}
