.wp-block-table {
  display: block;
  width: 100%;
  margin-bottom: $wp-blocks-spacing;

  tbody {
    display: table;
  }

  tr:first-child td {
    position: relative;
    padding-right: $wp-blocks-spacing;
  }
}
