.wp-block-separator {
  display: block;
  clear: both;
  margin: $wp-blocks-spacing auto;
  padding: 0;
  background: transparent;
  border-bottom: 1px solid $wp-blocks-color-muted;
  opacity: 0.6;

  &.is-style-wide {
    max-width: 80vw;
    width: 80vw;
  }

  &.is-style-dots {
    max-width: none;
    height: auto;
    line-height: 0;
    background: none; // Override any background themes often set on the hr tag for this style.
    border: none;
    text-align: center;
  }

  &.is-style-dots::before {
    content: "\00b7 \00b7 \00b7";
    color: $wp-blocks-color-muted;
    font-size: $font-size-base*2;
    letter-spacing: $wp-blocks-spacing;
    font-family: serif;
  }
}
