.wp-block-quote {
  margin-top: $wp-blocks-spacing;
  margin-bottom: $wp-blocks-spacing;
  font-size: $wp-blocks-font-md;

  &.is-large > * {
    font-size: $wp-blocks-font-lg;
  }
}

.wp-block-pullquote {
  margin-top: $wp-blocks-spacing;
  margin-bottom: $wp-blocks-spacing;

  > blockquote > p {
    @extend .mt-0;
  }

  &.alignwide,
  &.alignfull {
    display: block;
    padding-left: $wp-blocks-spacing;
    padding-right: $wp-blocks-spacing;
  }

  &.alignwide > p,
  &.alignfull > p {
    font-size: $wp-blocks-font-lg;
  }

  &.alignwide > blockquote,
  &.alignfull > blockquote {
    @extend .wp-block-quote; // defined above
  }

  &.alignwide > p,
  &.alignfull > p,
  &.alignwide > cite,
  &.alignfull > cite {
    display: block;
    text-align: center;
  }

  &.alignwide > cite,
  &.alignfull > cite {
    font-style: normal;
    text-transform: uppercase;
  }

  &.alignleft blockquote > cite,
  &.alignright blockquote > cite {
    text-transform: uppercase;
  }

  &.alignleft {
    text-align: left;
  }

  &.alignleft > blockquote {
    float: left;
    margin-right: ($wp-blocks-spacing * 2);
  }

  &.alignright {
    text-align: right;
  }

  &.alignright > blockquote {
    float: right;
    margin-left: ($wp-blocks-spacing * 2);
  }

  figure:not(.alignleft, .alignright) {
    padding-left: $wp-blocks-spacing;
    padding-right: $wp-blocks-spacing;
  }
}
