.wp-block-audio {
  audio {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: $border-radius-lg;
  }

  figcaption {
    text-align: center;
    font-style: italic;
  }
}
