.wp-block-image {
  > img {
    display: block;
    max-width: 100%;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  &.alignfull > figcaption,
  &.alignwide > figcaption {
    text-align: center;
  }

  > figure {
    display: inline-block;
    padding: 0;

    &.alignleft,
    &.alignright {
      display: inline;

      > img,
      > figcaption {
        margin-top: 0;
      }
    }

    @media (min-width: $wp-blocks-breakpoint-lg) {
      &.alignleft {
        > img,
        > figcaption {
          float: left;
          margin-right: $wp-blocks-spacing;
        }

        > figcaption {
          clear: left;
          margin-top: 0;
          margin-bottom: $wp-blocks-spacing;
        }
      }

      &.alignright {
        > img,
        > figcaption {
          float: right;
          margin-left: $wp-blocks-spacing;
        }

        > figcaption {
          clear: right;
          margin-top: 0;
          margin-bottom: $wp-blocks-spacing;
        }
      }
    }

    &.aligncenter {
      > img,
      > figcaption {
        width: 100%;
      }

      > figcaption {
        width: 100%;
        margin-top: 0;
        margin-bottom: $wp-blocks-spacing;
        text-align: center;
      }
    }

    @media screen and (max-width: $wp-blocks-container-lg) {
      margin: $wp-blocks-spacing 0 0 0;

      > img {
        width: 100%;
        margin-bottom: ($wp-blocks-spacing / 2);
      }

      > figcaption {
        width: 100%;
        text-align: center;
        margin-bottom: ($wp-blocks-spacing / 2);
      }
    }
  }
}
