/**
 * Breakpoints
 */
@custom-media --xs (min-width: 360px);
@custom-media --sm (min-width: 640px);
@custom-media --md (min-width: 768px);
@custom-media --lg (min-width: 1024px);
@custom-media --xl (min-width: 1280px);
@custom-media --hi (min-width: 1440px);

/**
 * Orientations
 */
@custom-media --landscape (orientation: landscape);
@custom-media --portrait (orientation: portrait);
