{% if sidebar_footer %}
  <div class="l-sidebar-footer">
    <div class="row collapse expanded">
      {{sidebar_footer}}
    </div>
  </div>
{% endif %}
<footer id="footer" class="l-footer" role="contentinfo">
  <div class="row align-center">
    <div class="column shrink">
      <p><small>{{options.footer_copyright}}</small></p>
    </div>
  </div>
</footer>
