<div class="comment comment--{{comment.comment_type}}" id="comment-{{comment.ID}}">
  <h5 class="comment__author">{{comment.author.name}}</h5>
  <div class="comment__content">
    {{comment.comment_content|wpautop}}
  </div>
</div>
